This analysis will explore the used car classifieds section of the eBay Kleinanzeigen website.  The data is originally from Kaggle.  The following will be an overall exploration of some of the data:

In [1]:
import pandas as pd
import numpy as np

In [2]:
autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [3]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [5]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

There is missing data in the following columns: VehicleType, gearbox, model, fuelType, and notRepairedDamage.  All data types are either object or int64.  Much of the non-numeric data is in Deutsch.

In [6]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [7]:
cols = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest', 'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model', 'odometer', 'registration_month', 'fuel_type', 'brand', 'unrepaired_damage', 'ad_created', 'num_of_pics', 'postal_code', 'last_seen']

In [8]:
autos.columns = cols

In [9]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_of_pics,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

I changed the column headings to camelCase, and made some alterations to the column names for readability.

In [10]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_of_pics,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-16 21:50:53,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

The seller, offer_type, and num_of_pics columns mostly have the same value, and can be removed.  The most frequent price is $0, which is interesting.

At first I found it funny that limousine accounted for >25% of the entries, until I discovered that it refers to what we would call a sedan in North America. Additionally, 25% of the vehicles listed look like they're from before 1999 - which means they're at least 17 years old at the time of listing, which is geriatric for a vehicle.  There's also at least one vehicle listed from the year 9999, and one from 1000 - which must be an error of some sort.

Changing the data types of the price and odometer attributes, and cleaning and translating the values to English:

In [11]:
autos["price"] = (autos["price"].str.replace('$', '')
                  .str.replace(',', '').astype(int)
                 )

In [12]:
autos["odometer"] = (autos["odometer"].str.replace('km', '')
                    .str.replace(',', '')
                     .astype(int)
                    )

In [13]:
autos["odometer_km"] = autos["odometer"]

In [14]:
autos.drop("odometer", axis=1, inplace=True)
autos.drop("seller", axis=1, inplace=True)
autos.drop("offer_type", axis=1, inplace=True)
autos.drop("num_of_pics", axis=1, inplace=True)

In [15]:
autos

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen,odometer_km
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manuell,158,andere,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54,150000
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatik,286,7er,6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08,150000
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manuell,102,golf,7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37,70000
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,kleinwagen,2007,automatik,71,fortwo,6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28,70000
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,1350,test,kombi,2003,manuell,0,focus,7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50,150000
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,7900,test,bus,2006,automatik,150,voyager,4,diesel,chrysler,NaN,2016-03-21 00:00:00,22962,2016-04-06 09:45:21,150000
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,300,test,limousine,1995,manuell,90,golf,8,benzin,volkswagen,NaN,2016-03-20 00:00:00,31535,2016-03-23 02:48:59,150000
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,1990,control,limousine,1998,manuell,90,golf,12,diesel,volkswagen,nein,2016-03-16 00:00:00,53474,2016-04-07 03:17:32,150000
8,2016-03-22 16:51:34,Seat_Arosa,250,test,NaN,2000,manuell,0,arosa,10,NaN,seat,nein,2016-03-22 00:00:00,7426,2016-03-26 18:18:10,150000
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,590,control,bus,1997,manuell,90,megane,7,benzin,renault,nein,2016-03-16 00:00:00,15749,2016-04-06 10:46:35,150000
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,999,test,NaN,2017,manuell,90,NaN,4,benzin,volkswagen,nein,2016-03-14 00:00:00,86157,2016-04-07 03:16:21,150000
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,350,control,NaN,2000,NaN,0,NaN,0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,17498,2016-03-16 18:45:34,150000
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,5299,control,kleinwagen,2010,automatik,71,fortwo,9,benzin,smart,nein,2016-03-31 00:00:00,34590,2016-04-06 14:17:52,50000
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,1350,control,limousine,1999,manuell,101,a3,11,benzin,audi,nein,2016-03-23 00:00:00,12043,2016-04-01 14:17:13,150000
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,3999,test,kleinwagen,2007,manuell,75,clio,9,benzin,renault,NaN,2016-03-23 00:00:00,81737,2016-04-01 15:46:47,150000
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,18900,test,coupe,1982,automatik,203,NaN,6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,61276,2016-04-02 21:10:48,80000
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,350,test,kombi,1999,manuell,101,vectra,5,benzin,opel,nein,2016-03-16 00:00:00,57299,2016-03-18 05:29:37,150000
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,5500,test,coupe,1990,manuell,205,scirocco,6,benzin,volkswagen,nein,2016-03-29 00:00:00,74821,2016-04-05 20:46:26,150000
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,300,control,bus,1995,manuell,150,3er,0,benzin,bmw,NaN,2016-03-26 00:00:00,54329,2016-04-02 12:16:41,150000
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,4150,control,suv,2004,manuell,124,andere,2,lpg,mazda,nein,2016-03-17 00:00:00,40878,2016-03-17 14:45:58,150000
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,3500,test,kombi,2003,manuell,131,a4,5,diesel,audi,NaN,2016-03-05 00:00:00,53913,2016-03-07 05:46:46,150000
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,41500,test,cabrio,2004,manuell,320,911,4,benzin,porsche,nein,2016-03-06 00:00:00,65428,2016-04-05 23:46:19,150000
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,25450,control,cabrio,2015,manuell,184,cooper,1,benzin,mini,nein,2016-03-28 00:00:00,44789,2016-04-01 06:45:30,10000
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,7999,control,bus,2010,manuell,120,NaN,2,diesel,peugeot,nein,2016-03-10 00:00:00,30900,2016-03-17 08:45:17,150000
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,48500,control,limousine,2014,automatik,306,5er,12,benzin,bmw,nein,2016-04-03 00:00:00,22547,2016-04-07 13:16:50,30000
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,90,control,kombi,1996,manuell,116,NaN,4,benzin,ford,ja,2016-03-21 00:00:00,27574,2016-04-01 05:16:49,150000
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,777,control,kleinwagen,1992,manuell,54,polo,2,benzin,volkswagen,nein,2016-04-03 00:00:00,38110,2016-04-05 23:46:48,125000
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,0,control,NaN,2005,NaN,0,NaN,0,NaN,ford,NaN,2016-03-27 00:00:00,66701,2016-03-27 18:45:01,150000
28,2016-03-19 21:56:19,MINI_Cooper_D,5250,control,kleinwagen,2007,manuell,110,cooper,7,diesel,mini,ja,2016-03-19 00:00:00,15745,2016-04-07 14:58:48,150000
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,4999,test,kombi,2004,automatik,204,e_klasse,10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,47638,2016-04-02 12:45:44,150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,15800,control,bus,2010,automatik,136,c4,4,diesel,citroen,nein,2016-03-21 00:00:00,14947,2016-04-07 04:17:34,60000
49971,2016-03-29 14:54:12,W.Lupo_1.0,950,test,kleinwagen,2001,manuell,50,lupo,4,benzin,volkswagen,nein,2016-03-29 00:00:00,65197,2016-03-29 20:41:51,150000
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,3300,control,bus,2004,automatik,150,vito,10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,65326,2016-03-28 11:28:18,150000
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,6000,control,cabrio,2004,manuell,163,slk,11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,53567,2016-03-27 08:25:24,150000
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,0,control,cabrio,1983,manuell,70,golf,2,benzin,volkswagen,nein,2016-03-20 00:00:00,8209,2016-03-27 19:48:16,150000
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,9700,control,kleinwagen,2012,automatik,88,jazz,11,hybrid,honda,nein,2016-03-27 00:00:00,84385,2016-04-05 19:45:34,100000
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,5900,test,kombi,1992,automatik,150,80,12,benzin,audi,nein,2016-03-19 00:00:00,36100,2016-04-07 06:16:44,150000
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,5500,control,limousine,2003,manuell,116,c_klasse,2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,33739,2016-04-06 12:16:11,150000
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,900,control,limousine,1996,automatik,136,e_klasse,9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,24405,2016-04-06 12:44:20,150000
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,11000,test,kleinwagen,2011,manuell,90,polo,11,diesel,volkswagen,nein,2016-03-20 00:00:00,48455,2016-04-07 01:45:12,70000
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,400,control,kombi,1995,manuell,105,escort,3,benzin,ford,NaN,2016-03-12 00:00:00,56218,2016-04-06 17:16:49,125000
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,2000,control,kombi,1998,manuell,115,astra,12,benzin,opel,nein,2016-03-15 00:00:00,86859,2016-04-05 17:21:46,150000
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,1950,control,kleinwagen,2004,manuell,0,fabia,7,benzin,skoda,NaN,2016-03-29 00:00:00,45884,2016-03-29 18:51:08,90000
49983,2016-03-06 12:43:04,Ford_focus_99,600,test,kleinwagen,1999,manuell,101,focus,4,benzin,ford,NaN,2016-03-06 00:00:00,52477,2016-03-09 06:16:08,150000
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,0,test,NaN,2000,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,12103,2016-04-02 19:44:53,150000
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,1000,control,NaN,1995,automatik,0,NaN,0,benzin,volkswagen,NaN,2016-04-02 00:00:00,30900,2016-04-06 15:17:52,150000
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,15900,control,limousine,2010,automatik,218,300c,11,diesel,chrysler,nein,2016-04-04 00:00:00,73527,2016-04-06 23:16:00,125000
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,21990,control,limousine,2013,manuell,150,a3,11,diesel,audi,nein,2016-03-22 00:00:00,94362,2016-03-26 22:46:06,50000
49988,2016-03-28 19:49:51,BMW_330_Ci,9550,control,coupe,2001,manuell,231,3er,10,benzin,bmw,nein,2016-03-28 00:00:00,83646,2016-04-07 02:17:40,150000
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,150,test,kleinwagen,1997,manuell,0,polo,5,benzin,volkswagen,ja,2016-03-11 00:00:00,21244,2016-03-12 10:17:55,150000
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,17500,test,limousine,2012,manuell,156,a_klasse,12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,58239,2016-04-06 22:46:57,30000
49991,2016-03-06 15:25:19,Kleinwagen,500,control,NaN,2016,manuell,0,twingo,0,benzin,renault,NaN,2016-03-06 00:00:00,61350,2016-03-06 18:24:19,150000
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,4800,control,kleinwagen,2009,manuell,120,andere,9,lpg,fiat,nein,2016-03-10 00:00:00,68642,2016-03-13 01:44:51,125000
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,1650,control,kleinwagen,1997,manuell,0,NaN,7,benzin,audi,NaN,2016-03-15 00:00:00,65203,2016-04-06 19:46:53,150000
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,5000,control,kombi,2001,automatik,299,a6,1,benzin,audi,nein,2016-03-22 00:00:00,46537,2016-04-06 08:16:39,150000
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,24900,control,limousine,2011,automatik,239,q5,1,diesel,audi,nein,2016-03-27 00:00:00,82131,2016-04-01 13:47:40,100000
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,1980,control,cabrio,1996,manuell,75,astra,5,benzin,opel,nein,2016-03-28 00:00:00,44807,2016-04-02 14:18:02,150000
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,13200,test,cabrio,2014,automatik,69,500,11,benzin,fiat,nein,2016-04-02 00:00:00,73430,2016-04-04 11:47:27,5000
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,22900,control,kombi,2013,manuell,150,a3,11,diesel,audi,nein,2016-03-08 00:00:00,35683,2016-04-05 16:45:07,40000
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,1250,control,limousine,1996,manuell,101,vectra,1,benzin,opel,nein,2016-03-13 00:00:00,45897,2016-04-06 21:18:48,150000

In [16]:
autos["vehicle_type"] = (autos["vehicle_type"].str.replace('limousine', 'sedan')
                         .str.replace('kleinwagen', 'small car')
                         .str.replace('kombi', 'station wagon')
                         .str.replace('cabrio', 'convertible')
                        )

In [17]:
autos["gearbox"] = (autos["gearbox"].str.replace('manuell', 'manual')
                   .str.replace('automatik', 'automatic')
                   )

In [18]:
autos["model"] = autos["model"].str.replace('andere', 'other')

In [19]:
autos["fuel_type"] = autos["fuel_type"].str.replace('benzin', 'gas')

In [20]:
autos["unrepaired_damage"] = autos["unrepaired_damage"].str.replace('nein', 'no').str.replace('ja', 'yes')

In [21]:
autos

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen,odometer_km
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manual,158,other,3,lpg,peugeot,no,2016-03-26 00:00:00,79588,2016-04-06 06:45:54,150000
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,sedan,1997,automatic,286,7er,6,gas,bmw,no,2016-04-04 00:00:00,71034,2016-04-06 14:45:08,150000
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,sedan,2009,manual,102,golf,7,gas,volkswagen,no,2016-03-26 00:00:00,35394,2016-04-06 20:15:37,70000
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,small car,2007,automatic,71,fortwo,6,gas,smart,no,2016-03-12 00:00:00,33729,2016-03-15 03:16:28,70000
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,1350,test,station wagon,2003,manual,0,focus,7,gas,ford,no,2016-04-01 00:00:00,39218,2016-04-01 14:38:50,150000
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,7900,test,bus,2006,automatic,150,voyager,4,diesel,chrysler,NaN,2016-03-21 00:00:00,22962,2016-04-06 09:45:21,150000
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,300,test,sedan,1995,manual,90,golf,8,gas,volkswagen,NaN,2016-03-20 00:00:00,31535,2016-03-23 02:48:59,150000
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,1990,control,sedan,1998,manual,90,golf,12,diesel,volkswagen,no,2016-03-16 00:00:00,53474,2016-04-07 03:17:32,150000
8,2016-03-22 16:51:34,Seat_Arosa,250,test,NaN,2000,manual,0,arosa,10,NaN,seat,no,2016-03-22 00:00:00,7426,2016-03-26 18:18:10,150000
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,590,control,bus,1997,manual,90,megane,7,gas,renault,no,2016-03-16 00:00:00,15749,2016-04-06 10:46:35,150000
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,999,test,NaN,2017,manual,90,NaN,4,gas,volkswagen,no,2016-03-14 00:00:00,86157,2016-04-07 03:16:21,150000
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,350,control,NaN,2000,NaN,0,NaN,0,gas,mercedes_benz,NaN,2016-03-16 00:00:00,17498,2016-03-16 18:45:34,150000
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,5299,control,small car,2010,automatic,71,fortwo,9,gas,smart,no,2016-03-31 00:00:00,34590,2016-04-06 14:17:52,50000
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,1350,control,sedan,1999,manual,101,a3,11,gas,audi,no,2016-03-23 00:00:00,12043,2016-04-01 14:17:13,150000
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,3999,test,small car,2007,manual,75,clio,9,gas,renault,NaN,2016-03-23 00:00:00,81737,2016-04-01 15:46:47,150000
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,18900,test,coupe,1982,automatic,203,NaN,6,gas,sonstige_autos,no,2016-04-01 00:00:00,61276,2016-04-02 21:10:48,80000
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,350,test,station wagon,1999,manual,101,vectra,5,gas,opel,no,2016-03-16 00:00:00,57299,2016-03-18 05:29:37,150000
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,5500,test,coupe,1990,manual,205,scirocco,6,gas,volkswagen,no,2016-03-29 00:00:00,74821,2016-04-05 20:46:26,150000
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,300,control,bus,1995,manual,150,3er,0,gas,bmw,NaN,2016-03-26 00:00:00,54329,2016-04-02 12:16:41,150000
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,4150,control,suv,2004,manual,124,other,2,lpg,mazda,no,2016-03-17 00:00:00,40878,2016-03-17 14:45:58,150000
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,3500,test,station wagon,2003,manual,131,a4,5,diesel,audi,NaN,2016-03-05 00:00:00,53913,2016-03-07 05:46:46,150000
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,41500,test,convertible,2004,manual,320,911,4,gas,porsche,no,2016-03-06 00:00:00,65428,2016-04-05 23:46:19,150000
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,25450,control,convertible,2015,manual,184,cooper,1,gas,mini,no,2016-03-28 00:00:00,44789,2016-04-01 06:45:30,10000
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,7999,control,bus,2010,manual,120,NaN,2,diesel,peugeot,no,2016-03-10 00:00:00,30900,2016-03-17 08:45:17,150000
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,48500,control,sedan,2014,automatic,306,5er,12,gas,bmw,no,2016-04-03 00:00:00,22547,2016-04-07 13:16:50,30000
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,90,control,station wagon,1996,manual,116,NaN,4,gas,ford,yes,2016-03-21 00:00:00,27574,2016-04-01 05:16:49,150000
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,777,control,small car,1992,manual,54,polo,2,gas,volkswagen,no,2016-04-03 00:00:00,38110,2016-04-05 23:46:48,125000
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,0,control,NaN,2005,NaN,0,NaN,0,NaN,ford,NaN,2016-03-27 00:00:00,66701,2016-03-27 18:45:01,150000
28,2016-03-19 21:56:19,MINI_Cooper_D,5250,control,small car,2007,manual,110,cooper,7,diesel,mini,yes,2016-03-19 00:00:00,15745,2016-04-07 14:58:48,150000
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,4999,test,station wagon,2004,automatic,204,e_klasse,10,diesel,mercedes_benz,no,2016-04-02 00:00:00,47638,2016-04-02 12:45:44,150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,15800,control,bus,2010,automatic,136,c4,4,diesel,citroen,no,2016-03-21 00:00:00,14947,2016-04-07 04:17:34,60000
49971,2016-03-29 14:54:12,W.Lupo_1.0,950,test,small car,2001,manual,50,lupo,4,gas,volkswagen,no,2016-03-29 00:00:00,65197,2016-03-29 20:41:51,150000
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,3300,control,bus,2004,automatic,150,vito,10,diesel,mercedes_benz,yes,2016-03-26 00:00:00,65326,2016-03-28 11:28:18,150000
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,6000,control,convertible,2004,manual,163,slk,11,gas,mercedes_benz,no,2016-03-27 00:00:00,53567,2016-03-27 08:25:24,150000
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,0,control,convertible,1983,manual,70,golf,2,gas,volkswagen,no,2016-03-20 00:00:00,8209,2016-03-27 19:48:16,150000
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,9700,control,small car,2012,automatic,88,jazz,11,hybrid,honda,no,2016-03-27 00:00:00,84385,2016-04-05 19:45:34,100000
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,5900,test,station wagon,1992,automatic,150,80,12,gas,audi,no,2016-03-19 00:00:00,36100,2016-04-07 06:16:44,150000
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,5500,control,sedan,2003,manual,116,c_klasse,2,diesel,mercedes_benz,no,2016-03-31 00:00:00,33739,2016-04-06 12:16:11,150000
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,900,control,sedan,1996,automatic,136,e_klasse,9,gas,mercedes_benz,yes,2016-04-04 00:00:00,24405,2016-04-06 12:44:20,150000
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,11000,test,small car,2011,manual,90,polo,11,diesel,volkswagen,no,2016-03-20 00:00:00,48455,2016-04-07 01:45:12,70000
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,400,control,station wagon,1995,manual,105,escort,3,gas,ford,NaN,2016-03-12 00:00:00,56218,2016-04-06 17:16:49,125000
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,2000,control,station wagon,1998,manual,115,astra,12,gas,opel,no,2016-03-15 00:00:00,86859,2016-04-05 17:21:46,150000
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,1950,control,small car,2004,manual,0,fabia,7,gas,skoda,NaN,2016-03-29 00:00:00,45884,2016-03-29 18:51:08,90000
49983,2016-03-06 12:43:04,Ford_focus_99,600,test,small car,1999,manual,101,focus,4,gas,ford,NaN,2016-03-06 00:00:00,52477,2016-03-09 06:16:08,150000
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,0,test,NaN,2000,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,12103,2016-04-02 19:44:53,150000
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,1000,control,NaN,1995,automatic,0,NaN,0,gas,volkswagen,NaN,2016-04-02 00:00:00,30900,2016-04-06 15:17:52,150000
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,15900,control,sedan,2010,automatic,218,300c,11,diesel,chrysler,no,2016-04-04 00:00:00,73527,2016-04-06 23:16:00,125000
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,21990,control,sedan,2013,manual,150,a3,11,diesel,audi,no,2016-03-22 00:00:00,94362,2016-03-26 22:46:06,50000
49988,2016-03-28 19:49:51,BMW_330_Ci,9550,control,coupe,2001,manual,231,3er,10,gas,bmw,no,2016-03-28 00:00:00,83646,2016-04-07 02:17:40,150000
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,150,test,small car,1997,manual,0,polo,5,gas,volkswagen,yes,2016-03-11 00:00:00,21244,2016-03-12 10:17:55,150000
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,17500,test,sedan,2012,manual,156,a_klasse,12,gas,mercedes_benz,no,2016-03-21 00:00:00,58239,2016-04-06 22:46:57,30000
49991,2016-03-06 15:25:19,Kleinwagen,500,control,NaN,2016,manual,0,twingo,0,gas,renault,NaN,2016-03-06 00:00:00,61350,2016-03-06 18:24:19,150000
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,4800,control,small car,2009,manual,120,other,9,lpg,fiat,no,2016-03-10 00:00:00,68642,2016-03-13 01:44:51,125000
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,1650,control,small car,1997,manual,0,NaN,7,gas,audi,NaN,2016-03-15 00:00:00,65203,2016-04-06 19:46:53,150000
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,5000,control,station wagon,2001,automatic,299,a6,1,gas,audi,no,2016-03-22 00:00:00,46537,2016-04-06 08:16:39,150000
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,24900,control,sedan,2011,automatic,239,q5,1,diesel,audi,no,2016-03-27 00:00:00,82131,2016-04-01 13:47:40,100000
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,1980,control,convertible,1996,manual,75,astra,5,gas,opel,no,2016-03-28 00:00:00,44807,2016-04-02 14:18:02,150000
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,13200,test,convertible,2014,automatic,69,500,11,gas,fiat,no,2016-04-02 00:00:00,73430,2016-04-04 11:47:27,5000
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,22900,control,station wagon,2013,manual,150,a3,11,diesel,audi,no,2016-03-08 00:00:00,35683,2016-04-05 16:45:07,40000
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,1250,control,sedan,1996,manual,101,vectra,1,gas,opel,no,2016-03-13 00:00:00,45897,2016-04-06 21:18:48,150000

In [22]:
autos["odometer_km"].unique().shape

(13,)

In [23]:
autos["odometer_km"].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [24]:
autos["odometer_km"].value_counts()

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: odometer_km, dtype: int64

In [25]:
autos["price"].unique().shape

(2357,)

In [26]:
autos["price"].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [27]:
autos["price"].value_counts(ascending=False).sort_index()

0           1421
1            156
2              3
3              1
5              2
8              1
9              1
10             7
11             2
12             3
13             2
14             1
15             2
17             3
18             1
20             4
25             5
29             1
30             7
35             1
40             6
45             4
47             1
49             4
50            49
55             2
59             1
60             9
65             5
66             1
            ...
151990         1
155000         1
163500         1
163991         1
169000         1
169999         1
175000         1
180000         1
190000         1
194000         1
197000         1
198000         1
220000         1
250000         1
259000         1
265000         1
295000         1
299000         1
345000         1
350000         1
999990         1
999999         2
1234566        1
1300000        1
3890000        1
10000000       1
11111111       2
12345678       3
27322222       1
99999999       1
Name: price, Length: 2357, dtype: int64

In [28]:
hi_autos = autos[(autos["price"] > 250000)]
hi_autos

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen,odometer_km
514,2016-03-17 09:53:08,Ford_Focus_Turnier_1.6_16V_Style,999999,test,station wagon,2009,manual,101,focus,4,gas,ford,no,2016-03-17 00:00:00,12205,2016-04-06 07:17:35,125000
2897,2016-03-12 21:50:57,Escort_MK_1_Hundeknochen_zum_umbauen_auf_RS_2000,11111111,test,sedan,1973,manual,48,escort,3,gas,ford,no,2016-03-12 00:00:00,94469,2016-03-12 22:45:27,50000
7814,2016-04-04 11:53:31,Ferrari_F40,1300000,control,coupe,1992,NaN,0,NaN,12,NaN,sonstige_autos,no,2016-04-04 00:00:00,60598,2016-04-05 11:34:11,50000
11137,2016-03-29 23:52:57,suche_maserati_3200_gt_Zustand_unwichtig_laufe...,10000000,control,coupe,1960,manual,368,NaN,1,gas,sonstige_autos,no,2016-03-29 00:00:00,73033,2016-04-06 21:18:11,100000
12682,2016-03-28 22:48:01,Porsche_GT3_RS__PCCB__Lift___grosser_Exklusiv_...,265000,control,coupe,2016,automatic,500,911,3,gas,porsche,no,2016-03-28 00:00:00,70193,2016-04-05 03:44:51,5000
14715,2016-03-30 08:37:24,Rolls_Royce_Phantom_Drophead_Coupe,345000,control,convertible,2012,automatic,460,NaN,8,gas,sonstige_autos,no,2016-03-30 00:00:00,73525,2016-04-07 00:16:26,20000
22947,2016-03-22 12:54:19,Bmw_530d_zum_ausschlachten,1234566,control,station wagon,1999,automatic,190,NaN,2,diesel,bmw,NaN,2016-03-22 00:00:00,17454,2016-04-02 03:17:32,150000
24384,2016-03-21 13:57:51,Schlachte_Golf_3_gt_tdi,11111111,test,NaN,1995,NaN,0,NaN,0,NaN,volkswagen,NaN,2016-03-21 00:00:00,18519,2016-03-21 14:40:18,150000
27371,2016-03-09 15:45:47,Fiat_Punto,12345678,control,NaN,2017,NaN,95,punto,0,NaN,fiat,NaN,2016-03-09 00:00:00,96110,2016-03-09 15:45:47,150000
34723,2016-03-23 16:37:29,Porsche_Porsche_911/930_Turbo_3.0__deutsche_Au...,299000,test,coupe,1977,manual,260,911,7,gas,porsche,no,2016-03-23 00:00:00,61462,2016-04-06 16:44:50,100000
35923,2016-04-03 07:56:23,Porsche_911_Targa_Exclusive_Edition__1_von_15_...,295000,test,convertible,2015,automatic,400,911,6,gas,porsche,no,2016-04-03 00:00:00,74078,2016-04-03 08:56:20,5000
36818,2016-03-27 18:37:37,Porsche_991,350000,control,coupe,2016,manual,500,911,3,gas,porsche,no,2016-03-27 00:00:00,70499,2016-03-27 18:37:37,5000
37585,2016-03-29 11:38:54,Volkswagen_Jetta_GT,999990,test,sedan,1985,manual,111,jetta,12,gas,volkswagen,yes,2016-03-29 00:00:00,50997,2016-03-29 11:38:54,150000
39377,2016-03-08 23:53:51,Tausche_volvo_v40_gegen_van,12345678,control,NaN,2018,manual,95,v40,6,NaN,volvo,no,2016-03-08 00:00:00,14542,2016-04-06 23:17:31,150000
39705,2016-03-22 14:58:27,Tausch_gegen_gleichwertiges,99999999,control,sedan,1999,automatic,224,s_klasse,9,gas,mercedes_benz,NaN,2016-03-22 00:00:00,73525,2016-04-06 05:15:30,150000
42221,2016-03-08 20:39:05,Leasinguebernahme,27322222,control,sedan,2014,manual,163,c4,2,diesel,citroen,NaN,2016-03-08 00:00:00,76532,2016-03-08 20:39:05,40000
43049,2016-03-21 19:53:52,2_VW_Busse_T3,999999,test,bus,1981,manual,70,transporter,1,gas,volkswagen,NaN,2016-03-21 00:00:00,99880,2016-03-28 17:18:28,150000
47337,2016-04-05 10:25:38,BMW_Z8_roadster,259000,test,convertible,2001,manual,400,z_reihe,6,gas,bmw,no,2016-04-05 00:00:00,61462,2016-04-05 12:07:32,20000
47598,2016-03-31 18:56:54,Opel_Vectra_B_1_6i_16V_Facelift_Tuning_Showcar...,12345678,control,sedan,2001,manual,101,vectra,3,gas,opel,no,2016-03-31 00:00:00,4356,2016-03-31 18:56:54,150000
47634,2016-04-04 21:25:21,Ferrari_FXX,3890000,test,coupe,2006,NaN,799,NaN,7,NaN,sonstige_autos,no,2016-04-04 00:00:00,60313,2016-04-05 12:07:37,5000

I wanted to look at the really high price values in this dataset.

I chose to examine above 250,000 in price because leading up to this point when ascending in price value, there are a fair number of values relatively evenly spaced - i.e., they go up in increments of 1k, 5k, sometimes a couple dozen k at the high end. After 350k though, the next value is 999,990 - almost 3x the last value. It gets even more extreme from there.   I'm figuring some of these might be classic cars, luxury vehicles, custom jobs, things people have babied. They could also be random price inputs.

This turned out to be correct.  There are some Porsches, Ferraris, and Rolls-Royces in the 200s, but most of the values above 350,000 seem to be randomly entered values - things like 12345678 or 11111111.  The vehicles associated with them weren't luxury vehicles or classic cars, so it's safe to drop them rather than changing the price on them, because there are only 14 of them which is less than 0.03% of the total dataset.

Conversely, I'm not removing any low values. I'm interpreting these values as asking prices rather than what was actually received. Setting a low starting price, even if it's 0, also isn't unheard of. There are a lot of very low values in this data and excluding them would have meant excluding a lot of the data, which would make for a weaker set of conclusions.  A whole 25 percent of the dataset is below around $1000, which is very cheap for a vehicle.  In this instance, I believe it makes sense to leave these low values in.

In [29]:
autos = autos[(autos["price"] < 350000)]

In [30]:
autos.describe()

,price,registration_year,power_ps,registration_month,postal_code,odometer_km
count,49985.000000,49985.000000,49985.000000,49985.000000,49985.000000,49985.000000
mean,5714.637531,2005.075503,116.333520,5.723777,50812.410383,125738.921677
std,8850.742575,105.728207,209.213067,3.711856,25777.512429,40034.891684
min,0.000000,1000.000000,0.000000,0.000000,1067.000000,5000.000000
25%,1100.000000,1999.000000,70.000000,3.000000,30451.000000,125000.000000
50%,2950.000000,2003.000000,105.000000,6.000000,49565.000000,150000.000000
75%,7200.000000,2008.000000,150.000000,9.000000,71522.000000,150000.000000
max,345000.000000,9999.000000,17700.000000,12.000000,99998.000000,150000.000000

In [31]:
autos["registration_year"].describe()

count    49985.000000
mean      2005.075503
std        105.728207
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

The mean registration year is 2005, while the median is 2003.  There are some odd values on both the high and low end of the scale.  The minimum value is 1000 and the max is 9999, neither of which can be right, since there were no cars in 1000 AD and as far as I know, no cars from the future sold on German eBay.

In [32]:
autos_super_old = autos[(autos["registration_year"]) < 1950]

In [33]:
autos_super_old

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen,odometer_km
2221,2016-03-15 14:57:07,Sehr_seltener_Oldtimer_Opel_1210_zum_Restaurieren,3350,control,andere,1934,manual,0,other,0,gas,opel,yes,2016-03-15 00:00:00,49828,2016-04-06 06:17:51,5000
2573,2016-03-19 22:51:25,Hanomag_rekord_15k_Suche_ersatz_teile,3000,test,andere,1934,NaN,0,NaN,1,gas,sonstige_autos,no,2016-03-19 00:00:00,90489,2016-03-19 22:51:25,90000
3679,2016-04-04 00:36:17,Suche_Auto,1,test,NaN,1910,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-04-04 00:00:00,40239,2016-04-04 07:49:15,5000
10556,2016-04-01 06:02:10,UNFAL_Auto,450,control,NaN,1800,NaN,1800,NaN,2,NaN,mitsubishi,no,2016-04-01 00:00:00,63322,2016-04-01 09:42:30,5000
11047,2016-03-08 20:50:10,Andere_Simca_5_Fourgonette_Kombilimousine,17500,control,station wagon,1948,manual,0,NaN,6,gas,sonstige_autos,no,2016-03-08 00:00:00,47546,2016-04-05 21:15:42,60000
11246,2016-03-26 19:49:59,Ford_Model_A_Roadster_Deluxe_1931,27500,control,convertible,1931,manual,39,other,7,gas,ford,no,2016-03-26 00:00:00,9322,2016-04-06 09:46:59,10000
11585,2016-03-11 21:48:36,Volkswagen__VW_Typ_82,41900,test,convertible,1943,NaN,0,other,7,NaN,volkswagen,yes,2016-03-11 00:00:00,84174,2016-03-21 13:18:05,100000
13963,2016-03-20 17:51:49,Mercedes_Benz_L1500S_Wehrmacht_/_Luftwaffe___F...,26900,test,andere,1941,manual,60,other,7,gas,mercedes_benz,no,2016-03-20 00:00:00,38723,2016-04-07 01:17:51,60000
15898,2016-03-08 10:50:05,Tausch_alles_aus_meinen_Anzeigen_gegen_Auto,0,test,NaN,1910,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-08 00:00:00,6108,2016-03-08 17:47:19,5000
21416,2016-03-12 08:36:21,Essex_super_six__Ford_A,16500,control,convertible,1927,manual,40,other,5,gas,ford,NaN,2016-03-12 00:00:00,74821,2016-03-15 12:45:12,5000
21421,2016-03-05 17:45:32,Ford_Business_Coupe_Hotrod_Projekt.1937,7000,test,coupe,1937,manual,85,other,8,gas,ford,yes,2016-03-05 00:00:00,8359,2016-04-07 10:44:39,5000
22101,2016-03-09 16:51:17,BMW_Andere,11500,test,convertible,1929,manual,15,other,1,NaN,bmw,yes,2016-03-09 00:00:00,70569,2016-04-07 06:17:11,5000
22316,2016-03-29 16:56:41,VW_Kaefer.__Zwei_zum_Preis_von_einem.,1500,control,NaN,1000,manual,0,kaefer,0,gas,volkswagen,NaN,2016-03-29 00:00:00,48324,2016-03-31 10:15:28,5000
22659,2016-03-14 08:51:18,Opel_Corsa_B,500,test,NaN,1910,NaN,0,corsa,0,NaN,opel,NaN,2016-03-14 00:00:00,52393,2016-04-03 07:53:55,150000
23804,2016-03-30 22:42:50,Mercedes_Benz_170V,4800,control,sedan,1937,manual,38,other,0,gas,mercedes_benz,NaN,2016-03-30 00:00:00,23936,2016-03-30 22:42:50,5000
24511,2016-03-17 19:45:11,Trabant__wartburg__Ostalgie,490,control,NaN,1111,NaN,0,NaN,0,NaN,trabant,NaN,2016-03-17 00:00:00,16818,2016-04-07 07:17:29,5000
24855,2016-03-31 13:57:18,Andere_DKW_F8_Cabrio_Limosine,26600,control,convertible,1939,NaN,0,NaN,7,NaN,sonstige_autos,yes,2016-03-31 00:00:00,55278,2016-04-06 07:15:57,5000
25792,2016-03-09 10:54:11,Andere_GAZ_Oldtimergelaendewagen_1941,9500,control,suv,1941,manual,57,NaN,1,gas,sonstige_autos,no,2016-03-09 00:00:00,59557,2016-03-12 21:16:29,40000
26103,2016-03-16 12:37:38,Oldtimer_Sport___Cabrio_Georges_Irat,8500,test,convertible,1938,manual,0,NaN,6,gas,sonstige_autos,yes,2016-03-16 00:00:00,61118,2016-03-16 19:43:33,5000
26607,2016-03-21 14:45:26,MG_Andere,25500,control,convertible,1937,manual,50,NaN,5,gas,sonstige_autos,no,2016-03-21 00:00:00,53804,2016-04-06 11:17:17,50000
28693,2016-03-22 17:48:41,Renault_Twingo,599,control,small car,1910,manual,0,NaN,0,gas,renault,NaN,2016-03-22 00:00:00,70376,2016-04-06 09:16:59,5000
30781,2016-03-25 13:47:46,Opel_Calibra_V6_DTM_Bausatz_1:24,30,test,NaN,1910,NaN,0,calibra,0,NaN,opel,NaN,2016-03-25 00:00:00,47638,2016-03-26 23:46:29,100000
32585,2016-04-02 16:56:39,UNFAL_Auto,450,control,NaN,1800,NaN,1800,NaN,2,NaN,mitsubishi,no,2016-04-02 00:00:00,63322,2016-04-04 14:46:21,5000
33295,2016-03-12 10:49:42,Ich_verkaufe/suche_fuer_sie_ihr_Auto!!,0,control,NaN,1910,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-12 00:00:00,37075,2016-03-19 07:15:34,5000
35238,2016-03-26 13:45:20,Suche_Skoda_Fabia____Skoda_Fabia_Combi_mit_Klima,0,control,NaN,1500,NaN,0,NaN,0,gas,skoda,NaN,2016-03-26 00:00:00,15517,2016-04-04 00:16:54,5000
39725,2016-03-25 22:54:31,Dodge_1937_Hotrod_Flathead_Scheunenfund_Oldtim...,8990,control,sedan,1937,NaN,0,NaN,7,gas,sonstige_autos,NaN,2016-03-25 00:00:00,3042,2016-04-05 15:47:14,150000
42181,2016-03-27 19:50:53,SAMSUNG_55Â“_3D_Tv_und_Soundbar_gegen_Auto,0,test,NaN,1910,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-27 00:00:00,57080,2016-04-06 01:15:30,5000
45157,2016-03-11 22:37:01,Motorhaube,15,control,NaN,1910,NaN,0,NaN,0,NaN,trabant,NaN,2016-03-11 00:00:00,90491,2016-03-25 11:18:57,5000
46213,2016-04-02 13:47:16,Bellier_Vario,0,test,small car,1910,NaN,0,NaN,1,andere,sonstige_autos,NaN,2016-04-02 00:00:00,93105,2016-04-04 11:16:30,5000
49283,2016-03-15 18:38:53,Citroen_HY,7750,control,NaN,1001,NaN,0,other,0,NaN,citroen,NaN,2016-03-15 00:00:00,66706,2016-04-06 18:47:20,5000

I looked at the cars registered before 1950.  Most of them after 1910 seem to be legit.  Some of the (pre-)1910 values are mislabelled newer cars.  A few are strange entries, including one for a TV, another for an "accident car".  1910 may be a default value in a form, which would cause this value to be repeated so often.

In [34]:
autos = autos[(autos["registration_year"] < 2017) & (autos["registration_year"] > 1910)]

In [35]:
autos["registration_year"].describe()

count    48006.000000
mean      2002.823126
std          7.195358
min       1927.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       2016.000000
Name: registration_year, dtype: float64

Removing the values from before 1911 and after 2016 (the year the data was collected) brought the mean registration year down to 2002 while the median stayed at 2003.  The two values were brought closer with the removal of these outliers.

In [36]:
autos["registration_year"].value_counts(normalize=True)

2000    0.069866
2005    0.062805
1999    0.062451
2004    0.057014
2003    0.056805
2006    0.056389
2001    0.056285
2002    0.052764
1998    0.051098
2007    0.047994
2008    0.046473
2009    0.043682
1997    0.042245
2011    0.034037
2010    0.033267
1996    0.030080
2012    0.027559
2016    0.027392
1995    0.027330
2013    0.016790
2014    0.013852
1994    0.013748
1993    0.009270
2015    0.008311
1990    0.008228
1992    0.008124
1991    0.007416
1989    0.003770
1988    0.002958
1985    0.002166
          ...
1974    0.000500
1966    0.000458
1977    0.000458
1969    0.000396
1975    0.000396
1965    0.000354
1964    0.000250
1963    0.000187
1959    0.000146
1961    0.000125
1956    0.000104
1958    0.000083
1937    0.000083
1962    0.000083
1950    0.000062
1954    0.000042
1941    0.000042
1934    0.000042
1957    0.000042
1951    0.000042
1955    0.000042
1931    0.000021
1953    0.000021
1943    0.000021
1938    0.000021
1939    0.000021
1927    0.000021
1929    0.000021
1948    0.000021
1952    0.000021
Name: registration_year, Length: 77, dtype: float64

7% of vehicles listed in this dataset were registered in 2000.  The second and third most popular years were 2005 and 1999 at roughly 6% respectively.

In [37]:
autos_crawled = autos["date_crawled"].str[:10]

In [38]:
autos_crawled.describe()

count          48006
unique            34
top       2016-04-03
freq            1867
Name: date_crawled, dtype: object

In [39]:
autos_crawled.value_counts(normalize=True, dropna=False)

2016-04-03    0.038891
2016-03-20    0.037974
2016-03-21    0.037474
2016-03-12    0.036683
2016-04-04    0.036600
2016-03-14    0.036391
2016-03-07    0.036162
2016-04-02    0.035475
2016-03-19    0.034808
2016-03-28    0.034621
2016-03-29    0.034162
2016-03-15    0.034037
2016-04-01    0.033933
2016-03-30    0.033767
2016-03-08    0.033496
2016-03-09    0.033371
2016-03-22    0.032767
2016-03-23    0.032350
2016-03-11    0.032350
2016-03-26    0.032308
2016-03-10    0.032204
2016-03-31    0.031871
2016-03-17    0.031704
2016-03-25    0.031600
2016-03-27    0.030725
2016-03-16    0.029392
2016-03-24    0.029267
2016-03-05    0.025268
2016-03-13    0.015748
2016-03-06    0.014082
2016-04-05    0.012998
2016-03-18    0.012978
2016-04-06    0.003104
2016-04-07    0.001437
Name: date_crawled, dtype: float64

The most common dates for these ads to be crawled happen to be Saturdays, Sundays, and Mondays in late March and early April of 2016.

In [40]:
autos["ad_created"].str[:10].value_counts(normalize=True, dropna=False)

2016-04-03    0.039120
2016-03-20    0.038016
2016-03-21    0.037683
2016-04-04    0.036933
2016-03-12    0.036516
2016-04-02    0.035121
2016-03-14    0.035016
2016-03-07    0.034954
2016-03-28    0.034746
2016-03-29    0.034162
2016-04-01    0.033954
2016-03-15    0.033871
2016-03-19    0.033767
2016-03-30    0.033579
2016-03-08    0.033558
2016-03-09    0.033371
2016-03-11    0.032621
2016-03-22    0.032558
2016-03-26    0.032350
2016-03-23    0.032204
2016-03-10    0.031954
2016-03-31    0.031913
2016-03-25    0.031767
2016-03-17    0.031413
2016-03-27    0.030517
2016-03-16    0.029809
2016-03-24    0.029267
2016-03-05    0.022955
2016-03-13    0.017081
2016-03-06    0.015206
                ...
2016-02-21    0.000062
2016-02-25    0.000062
2016-02-26    0.000042
2016-01-27    0.000042
2016-02-20    0.000042
2016-02-02    0.000042
2016-02-09    0.000042
2016-02-14    0.000042
2016-02-05    0.000042
2016-01-10    0.000042
2016-02-18    0.000042
2016-02-24    0.000042
2016-01-16    0.000021
2015-08-10    0.000021
2016-02-01    0.000021
2016-01-03    0.000021
2016-01-14    0.000021
2016-02-16    0.000021
2015-11-10    0.000021
2016-02-11    0.000021
2015-12-05    0.000021
2016-02-08    0.000021
2016-02-22    0.000021
2016-02-07    0.000021
2015-06-11    0.000021
2015-09-09    0.000021
2016-01-07    0.000021
2015-12-30    0.000021
2016-02-17    0.000021
2016-01-13    0.000021
Name: ad_created, Length: 74, dtype: float64

The dates that ads are most likely to be created matches the crawling days fairly closely, both for specific days, and for frequency.  This may suggest that cars tend to be listed in the early spring, and that the crawler is picking them up at around the same time the ads are posted.

In [41]:
autos["last_seen"].str[:10].value_counts(normalize=True, dropna=False)

2016-04-06    0.222431
2016-04-07    0.131817
2016-04-05    0.124901
2016-03-17    0.027955
2016-04-03    0.025309
2016-03-30    0.024726
2016-04-02    0.024643
2016-04-04    0.024205
2016-03-12    0.023747
2016-03-31    0.023705
2016-04-01    0.023268
2016-03-29    0.022101
2016-03-22    0.021081
2016-03-28    0.020706
2016-03-21    0.020685
2016-03-20    0.020643
2016-03-24    0.019498
2016-03-25    0.018914
2016-03-23    0.018414
2016-03-26    0.016935
2016-03-16    0.016248
2016-03-27    0.016019
2016-03-15    0.016019
2016-03-19    0.015540
2016-03-14    0.012832
2016-03-11    0.012519
2016-03-10    0.010790
2016-03-09    0.009999
2016-03-13    0.008770
2016-03-08    0.007624
2016-03-18    0.007312
2016-03-07    0.005353
2016-03-06    0.004208
2016-03-05    0.001083
Name: last_seen, dtype: float64

The last_seen column tells us that not only are there more postings created in the early spring, but that postings are also most likely to be taken offline in March or early April. Although ads are frequently placed throughout the year, from this data we can surmise that the crawler usually sees them last in the spring, since it seems to crawl on at least a daily basis.  Presumably they are sold and taken offline at this point.

In [42]:
hot_brands_counts = autos["brand"].value_counts().head(20)

In [43]:
hot_brands = hot_brands_counts.index

Next, I've chosen to aggregate by the 20 most frequently listed brands.

In [44]:
price_aggregate = {}
for name in hot_brands:
    price_aggregate[name] = autos.loc[autos["brand"] == name, "price"].mean()
price_aggregate

{'audi': 9093.65003615329,
 'bmw': 8102.536248343744,
 'citroen': 3699.935628742515,
 'fiat': 2711.8011272141707,
 'ford': 3652.095223880597,
 'hyundai': 5308.53911205074,
 'mazda': 4010.7716643741405,
 'mercedes_benz': 8485.239571958942,
 'mini': 10460.012048192772,
 'nissan': 4664.891034482758,
 'opel': 2877.7224576271187,
 'peugeot': 3039.4682651622,
 'renault': 2396.2067751869777,
 'seat': 4296.492554410081,
 'skoda': 6334.91948051948,
 'smart': 3542.706586826347,
 'sonstige_autos': 10909.372586872587,
 'toyota': 5115.33388981636,
 'volkswagen': 5231.081983308787,
 'volvo': 4757.108108108108}

The cars in this list with the highest average selling price are the Mini (average 10460), Audi (average 9903), and Mercedes Benz (average 8485).  The next highest is over 2000 less - the Skoda at 6334.  Other cars ("sonstige_autos") actually account for the total highest average prices, at 10,909.  I wanted to see what items were actually in this set:

In [45]:
sonstige = autos[autos["brand"] == 'sonstige_autos']
sonstige

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen,odometer_km
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,18900,test,coupe,1982,automatic,203,NaN,6,gas,sonstige_autos,no,2016-04-01 00:00:00,61276,2016-04-02 21:10:48,80000
140,2016-03-19 19:47:07,Ssangyong_Actyon_SUV_2.0_xdi2wd_55000_km,5400,control,suv,2008,manual,141,NaN,3,diesel,sonstige_autos,no,2016-03-19 00:00:00,94447,2016-03-26 00:18:23,60000
152,2016-03-20 12:45:01,Ssanyong_Rexton_2.7,4499,test,suv,2005,automatic,163,NaN,9,diesel,sonstige_autos,no,2016-03-20 00:00:00,73312,2016-03-25 11:45:09,150000
175,2016-03-19 15:48:21,MG_MGB_GT,13800,control,coupe,1972,NaN,0,NaN,6,NaN,sonstige_autos,no,2016-03-19 00:00:00,53639,2016-03-23 02:17:04,20000
259,2016-04-03 23:49:58,guenstiges_Auto_/_auch_defekt,0,control,NaN,2000,NaN,0,NaN,6,NaN,sonstige_autos,NaN,2016-04-03 00:00:00,89269,2016-04-06 07:16:22,5000
283,2016-04-02 00:55:53,3_Fahrzeug_zu_Verkaufen,500,test,NaN,2000,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-04-01 00:00:00,89073,2016-04-06 04:16:23,100000
296,2016-03-07 19:43:23,Dodge_Nitro_4.0_Automatik_R/T,11500,control,suv,2007,automatic,260,NaN,7,gas,sonstige_autos,no,2016-03-07 00:00:00,88212,2016-04-07 09:45:27,100000
301,2016-03-08 20:37:59,Kaufe_alle_Autos_bietet_an,0,control,NaN,1990,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-08 00:00:00,13589,2016-04-05 18:44:43,5000
359,2016-03-09 15:46:04,Proton_PKW,299,control,sedan,1999,manual,75,NaN,4,gas,sonstige_autos,no,2016-03-09 00:00:00,96364,2016-04-07 00:15:53,150000
461,2016-03-17 12:54:04,Gut_erhaltene_Alufelgen,100,test,NaN,2008,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-17 00:00:00,66440,2016-03-27 00:16:38,30000
486,2016-03-07 09:52:15,Wartburg_1.3,650,control,sedan,1990,manual,58,NaN,9,gas,sonstige_autos,NaN,2016-03-07 00:00:00,16816,2016-03-12 12:18:07,150000
625,2016-03-09 22:50:54,Werkaufen_meine_Iveco_deily,4000,test,bus,2001,manual,0,NaN,11,diesel,sonstige_autos,NaN,2016-03-09 00:00:00,68647,2016-03-16 13:15:30,150000
658,2016-03-26 15:57:05,Pontiac_Firebird,6800,test,coupe,1991,manual,140,NaN,12,gas,sonstige_autos,no,2016-03-26 00:00:00,13585,2016-04-06 04:15:52,100000
826,2016-03-28 00:56:49,Ich_suche_dring._neues_Auto...,0,control,NaN,2000,NaN,0,NaN,1,NaN,sonstige_autos,NaN,2016-03-27 00:00:00,27313,2016-04-06 09:45:03,150000
888,2016-04-01 12:52:29,Cadillac_SRX_3.6_V6_AWD,7900,test,suv,2005,automatic,258,NaN,3,lpg,sonstige_autos,no,2016-04-01 00:00:00,41515,2016-04-07 09:44:21,125000
1081,2016-04-01 17:47:12,Pontiac_Firebird_3.4___org._30.000_km___LPG,8000,test,coupe,1995,automatic,148,NaN,3,lpg,sonstige_autos,no,2016-04-01 00:00:00,38300,2016-04-05 13:15:50,30000
1102,2016-03-29 13:46:50,Pontiac_Firebird_2_8L_V6_Targa__Tuev_07/2016,3400,control,coupe,1988,automatic,150,NaN,2,gas,sonstige_autos,no,2016-03-29 00:00:00,15236,2016-04-05 23:16:37,80000
1179,2016-03-18 09:39:30,Andere_russ._LuAZ_967M_Schwimmwagen_NVA_GSSD_a...,3999,control,suv,1987,manual,71,NaN,6,gas,sonstige_autos,no,2016-03-18 00:00:00,1589,2016-03-22 10:44:44,5000
1360,2016-03-20 11:51:23,Buick_Riviera,2800,test,coupe,1980,automatic,173,NaN,1,gas,sonstige_autos,no,2016-03-20 00:00:00,96052,2016-03-31 17:15:44,125000
1393,2016-04-02 23:57:17,Wartburg_353,1250,test,station wagon,1984,manual,0,NaN,4,gas,sonstige_autos,no,2016-04-02 00:00:00,7554,2016-04-07 08:15:57,100000
1524,2016-04-02 17:00:29,Dodge__RAM_Laramie_1500_V8_HEMI_Crew_Cab_AHK,39500,control,suv,2013,automatic,401,NaN,6,gas,sonstige_autos,no,2016-04-02 00:00:00,53557,2016-04-06 16:46:18,50000
1548,2016-03-25 14:46:44,1936_Daimler_Fifteen_Special_Projekt,7999,control,NaN,1960,NaN,65,NaN,6,gas,sonstige_autos,NaN,2016-03-25 00:00:00,50259,2016-04-06 17:46:36,150000
1620,2016-03-06 21:48:42,Dodge_RAM_B300_Mowag_Mowag_Dodge_V8_selten_Neu...,11500,control,bus,1985,automatic,160,NaN,10,gas,sonstige_autos,NaN,2016-03-06 00:00:00,4849,2016-04-07 02:45:39,125000
1763,2016-03-09 18:37:55,DKW_1000_S_Coupe,9000,test,coupe,1963,manual,40,NaN,4,gas,sonstige_autos,no,2016-03-09 00:00:00,31787,2016-04-06 18:16:34,80000
1798,2016-03-14 23:53:13,VW_SHARAN_TDI_1.9_TOP_ZUSTAND,6100,control,bus,2005,manual,0,NaN,8,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,44225,2016-04-05 13:16:50,150000
1862,2016-03-16 21:54:28,MG_MGF_1.8i,1300,control,convertible,2001,manual,120,NaN,4,gas,sonstige_autos,yes,2016-03-16 00:00:00,97877,2016-03-30 21:48:06,125000
1866,2016-03-07 17:42:12,MICROCAR_M.GO_Dynamic_Mopedauto_Leichtkraftfah...,11000,test,small car,2016,automatic,5,NaN,3,diesel,sonstige_autos,no,2016-03-07 00:00:00,19288,2016-03-29 19:18:13,5000
1894,2016-03-10 19:46:55,Cadillac_Deville,8800,control,sedan,1961,automatic,0,NaN,1,gas,sonstige_autos,yes,2016-03-10 00:00:00,21279,2016-04-06 03:45:39,150000
1932,2016-03-06 03:43:15,Verkaufe_unser_Wohnmobilbegleitfahrzeug_mit_Tr...,2900,test,convertible,2002,automatic,10,NaN,6,gas,sonstige_autos,no,2016-02-29 00:00:00,8132,2016-03-10 15:45:22,30000
2121,2016-03-14 01:54:43,Dodge_Nitro_2.8_CRD_DPF_Automatik_SXT_4x4,13900,control,suv,2008,automatic,177,NaN,1,diesel,sonstige_autos,no,2016-03-13 00:00:00,34225,2016-04-07 06:15:54,125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47041,2016-03-29 13:57:17,Lexus_RX_300,1100,control,suv,2001,automatic,201,NaN,3,gas,sonstige_autos,yes,2016-03-29 00:00:00,64859,2016-04-02 01:16:34,150000
47362,2016-03-30 11:37:40,Cadillac_Deville,8500,test,sedan,1997,automatic,275,NaN,7,gas,sonstige_autos,no,2016-03-30 00:00:00,63517,2016-04-07 02:15:46,150000
47406,2016-03-16 21:58:19,Tesla_Model_S_85_KW,79500,control,sedan,2014,automatic,367,NaN,10,elektro,sonstige_autos,no,2016-03-16 00:00:00,85764,2016-03-27 16:47:19,30000
47444,2016-03-07 19:40:37,Suche_Auto_bis_250_Euro,250,control,andere,1996,automatic,60,NaN,11,gas,sonstige_autos,yes,2016-03-07 00:00:00,16356,2016-03-08 06:15:51,150000
47445,2016-03-31 17:25:23,1969er_Dodge_D200_Pickup_Autom._383cui,7300,test,suv,1969,automatic,0,NaN,1,gas,sonstige_autos,no,2016-03-31 00:00:00,35037,2016-04-06 10:17:21,100000
47537,2016-03-20 18:50:57,Wartburg_1.3,3500,test,sedan,1989,manual,0,NaN,8,gas,sonstige_autos,no,2016-03-20 00:00:00,99869,2016-04-07 02:45:20,70000
47792,2016-03-06 02:57:50,Cadillac_STS_4.6__V8_Luxury_Sport_EU_Version,11900,control,sedan,2005,manual,442,NaN,2,lpg,sonstige_autos,no,2016-03-06 00:00:00,58313,2016-03-23 16:49:48,150000
47821,2016-03-16 20:42:38,Iveco_Andere,1999,control,bus,1993,manual,116,NaN,2,diesel,sonstige_autos,no,2016-03-16 00:00:00,34599,2016-03-30 16:16:44,125000
47908,2016-03-13 16:51:53,Auto_bis_1000Â€_gesucht,1000,test,NaN,2000,NaN,0,NaN,12,NaN,sonstige_autos,NaN,2016-03-13 00:00:00,1744,2016-03-21 17:19:36,150000
48195,2016-03-07 14:51:27,Sang_Yong_mercedes,850,control,suv,1996,automatic,136,NaN,4,gas,sonstige_autos,NaN,2016-03-07 00:00:00,71263,2016-03-07 14:51:27,125000
48221,2016-04-04 22:54:21,Triumph_TR_7_Cabrio_H_Kennzeichen,4980,test,convertible,1980,manual,88,NaN,7,gas,sonstige_autos,no,2016-04-04 00:00:00,22880,2016-04-07 02:17:09,100000
48287,2016-03-27 00:36:40,Suche_Kleinwagen!!!,1000,test,small car,2000,NaN,60,NaN,0,NaN,sonstige_autos,no,2016-03-27 00:00:00,61209,2016-04-07 04:45:59,150000
48818,2016-03-25 10:46:24,Caterham_Lotus_Super_Seven_Linkslenker_mit_gru...,20950,test,convertible,1992,manual,86,NaN,6,gas,sonstige_autos,no,2016-03-25 00:00:00,31224,2016-03-31 17:15:34,40000
48882,2016-03-14 23:58:47,SUCHE_AUTO,0,control,NaN,2000,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,97753,2016-03-30 23:47:43,150000
48932,2016-03-28 14:43:04,Triumph_Spitfire,4500,test,convertible,1975,NaN,0,NaN,4,NaN,sonstige_autos,no,2016-03-28 00:00:00,30855,2016-04-06 18:19:35,100000
48946,2016-03-05 16:57:05,Unfallwagen_Motorschaden_Getriebeschaden_Ankau...,10000,control,NaN,1990,NaN,0,NaN,1,NaN,sonstige_autos,NaN,2016-03-05 00:00:00,45884,2016-03-05 18:17:58,150000
48960,2016-03-31 14:37:02,Aixam_City_Premium__LEDER__45km/h__ab_16_Jahren,7390,control,small car,2012,automatic,5,NaN,3,diesel,sonstige_autos,no,2016-03-31 00:00:00,89340,2016-04-06 08:17:01,20000
48962,2016-03-07 12:55:27,Triumph_TR3A,37000,test,convertible,1961,manual,101,NaN,7,gas,sonstige_autos,NaN,2016-03-07 00:00:00,47669,2016-04-06 03:16:35,150000
49037,2016-03-24 10:37:18,Ssangyong_Rexton_RX_270_Xdi,5000,test,suv,2004,manual,163,NaN,12,diesel,sonstige_autos,no,2016-03-24 00:00:00,38106,2016-04-07 00:16:57,150000
49085,2016-04-04 08:53:37,Dodge_Unfall_Viper_SRT_10_mit_8.4_Liter__650_PS,23900,control,convertible,2008,manual,650,NaN,7,gas,sonstige_autos,yes,2016-04-04 00:00:00,51061,2016-04-06 10:45:58,40000
49139,2016-03-06 02:36:56,Dodge_Dakota_3.9l_magnum_lpg,7999,control,suv,2000,automatic,0,NaN,3,lpg,sonstige_autos,no,2016-03-06 00:00:00,24619,2016-04-06 00:46:41,150000
49237,2016-03-19 16:51:26,Aixam_scouty_r_cabrio,7800,test,NaN,2011,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-19 00:00:00,63071,2016-03-24 12:16:32,40000
49270,2016-03-27 19:45:54,WARTBURG_311_//__Baujahr_1960,3500,control,sedan,1960,manual,38,NaN,3,gas,sonstige_autos,yes,2016-03-27 00:00:00,99510,2016-04-05 17:25:37,90000
49271,2016-03-16 11:44:10,Corvette_C6,28900,test,convertible,2005,automatic,404,NaN,7,gas,sonstige_autos,no,2016-03-16 00:00:00,34121,2016-04-06 04:16:51,90000
49391,2016-03-18 00:55:16,"Lamborghini_Gallardo_LP560_4_E_Gear_""Callisto_...",109999,test,coupe,2008,automatic,560,NaN,9,gas,sonstige_autos,no,2016-03-17 00:00:00,96052,2016-04-05 21:46:24,30000
49612,2016-04-02 23:55:49,Opel_Corsa_1.2_Schiebedach_Voll_fahrbereit,499,test,small car,1996,manual,58,NaN,4,gas,sonstige_autos,no,2016-04-02 00:00:00,10999,2016-04-03 06:48:20,150000
49720,2016-03-31 21:37:36,MG_Andere,14500,test,coupe,1969,manual,145,NaN,1,gas,sonstige_autos,no,2016-03-31 00:00:00,86911,2016-04-06 16:45:25,50000
49745,2016-03-19 22:50:20,ALPINA_B12,17500,test,sedan,1996,NaN,387,NaN,5,NaN,sonstige_autos,no,2016-03-19 00:00:00,76131,2016-03-20 01:41:49,150000
49941,2016-03-15 00:53:25,Maserati_Ghibli_Diesel_Automatik,62000,test,sedan,2015,automatic,275,NaN,8,diesel,sonstige_autos,no,2016-03-14 00:00:00,10179,2016-03-30 23:17:48,10000
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,0,test,NaN,2000,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,12103,2016-04-02 19:44:53,150000

In [46]:
sonstige.sort_values(by=['price'], ascending=False)

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen,odometer_km
14715,2016-03-30 08:37:24,Rolls_Royce_Phantom_Drophead_Coupe,345000,control,convertible,2012,automatic,460,NaN,8,gas,sonstige_autos,no,2016-03-30 00:00:00,73525,2016-04-07 00:16:26,20000
28090,2016-03-08 19:50:06,Tesla_Model_X_P90D_Signature_Sondermodel__Neuw...,194000,test,suv,2016,automatic,0,NaN,3,elektro,sonstige_autos,no,2016-03-08 00:00:00,97990,2016-03-16 04:15:31,5000
22060,2016-03-09 00:58:24,Tesla_Model_X90D_Autopilot_Leder_AHK_Kaltwette...,114400,test,suv,2016,automatic,0,NaN,3,elektro,sonstige_autos,no,2016-03-08 00:00:00,33335,2016-03-24 09:46:27,5000
49391,2016-03-18 00:55:16,"Lamborghini_Gallardo_LP560_4_E_Gear_""Callisto_...",109999,test,coupe,2008,automatic,560,NaN,9,gas,sonstige_autos,no,2016-03-17 00:00:00,96052,2016-04-05 21:46:24,30000
16964,2016-04-01 16:46:18,Bentley_Continental_Supersports,105000,control,coupe,2010,automatic,630,NaN,1,gas,sonstige_autos,no,2016-04-01 00:00:00,70192,2016-04-05 11:49:31,80000
3283,2016-03-28 00:32:02,Melkus_RS1000_GT_Nr_129,80000,control,andere,1980,manual,75,NaN,11,diesel,sonstige_autos,no,2016-03-27 00:00:00,61462,2016-04-06 04:16:07,5000
8446,2016-03-24 05:03:36,Bentley_Continental_Flying_Spur_Speed,79999,test,sedan,2011,automatic,610,NaN,1,gas,sonstige_autos,no,2016-03-24 00:00:00,8523,2016-03-30 06:47:28,60000
47406,2016-03-16 21:58:19,Tesla_Model_S_85_KW,79500,control,sedan,2014,automatic,367,NaN,10,elektro,sonstige_autos,no,2016-03-16 00:00:00,85764,2016-03-27 16:47:19,30000
4045,2016-04-04 10:06:20,Maserati_Ghibli_Automatik_S_Q4,72600,test,sedan,2015,automatic,409,NaN,7,gas,sonstige_autos,no,2016-04-04 00:00:00,35688,2016-04-05 12:10:12,5000
49941,2016-03-15 00:53:25,Maserati_Ghibli_Diesel_Automatik,62000,test,sedan,2015,automatic,275,NaN,8,diesel,sonstige_autos,no,2016-03-14 00:00:00,10179,2016-03-30 23:17:48,10000
16006,2016-04-05 05:04:05,Bentley_Continental_GTC,60000,test,convertible,2008,automatic,559,NaN,7,gas,sonstige_autos,no,2016-04-05 00:00:00,50858,2016-04-05 07:53:54,150000
30121,2016-04-05 12:38:54,Ferrari_360_Modena_F1___von_RONALDO_BRASIL_NOV...,59850,test,coupe,1999,automatic,400,NaN,6,gas,sonstige_autos,no,2016-04-05 00:00:00,92447,2016-04-05 12:38:54,60000
40975,2016-03-09 10:54:49,Bentley_Continental_Flying_Spur,55000,control,sedan,2008,automatic,559,NaN,2,gas,sonstige_autos,no,2016-03-09 00:00:00,68239,2016-03-16 02:44:51,20000
2698,2016-03-22 21:51:35,Ferrari_348_TB___Original_Zustand,54500,control,coupe,1990,manual,295,NaN,3,gas,sonstige_autos,no,2016-03-22 00:00:00,89257,2016-03-24 06:18:29,70000
34589,2016-03-24 12:54:08,Lotus_Lotus_Elise_S,48850,test,convertible,2015,manual,220,NaN,8,gas,sonstige_autos,no,2016-03-24 00:00:00,55596,2016-04-07 03:46:46,10000
33189,2016-04-02 11:47:57,ALPINA_B10_Bi_Turbo_BiTurbo,48700,test,sedan,1993,NaN,360,NaN,3,NaN,sonstige_autos,no,2016-04-02 00:00:00,76131,2016-04-06 09:45:54,150000
27481,2016-03-27 01:00:19,Maserati_Granturismo_S,47000,test,coupe,2009,manual,441,NaN,1,gas,sonstige_autos,NaN,2016-03-27 00:00:00,60306,2016-04-07 01:45:38,100000
29237,2016-03-25 12:58:27,Dodge_Viper,46900,test,convertible,1993,NaN,0,NaN,6,NaN,sonstige_autos,no,2016-03-25 00:00:00,68782,2016-04-06 15:44:46,60000
23260,2016-03-20 20:37:50,AC_Andere,44200,test,convertible,1994,manual,224,NaN,6,gas,sonstige_autos,no,2016-03-20 00:00:00,84036,2016-04-07 04:46:52,125000
27104,2016-03-31 22:52:01,Aston_Martin_DB7_Vantage_v12,44000,test,coupe,2004,manual,420,NaN,6,gas,sonstige_autos,no,2016-03-31 00:00:00,70188,2016-04-06 20:48:11,40000
17098,2016-03-05 15:44:25,Cadillac_CTS_V_Dt.Modell_Garantie_3/17_Magnafl...,42000,control,sedan,2012,automatic,564,NaN,3,gas,sonstige_autos,no,2016-03-05 00:00:00,49176,2016-04-07 07:45:25,50000
24255,2016-03-24 13:25:20,Rolls_Royce_Camargue,41900,control,coupe,1976,automatic,216,NaN,7,gas,sonstige_autos,no,2016-03-24 00:00:00,65232,2016-04-05 23:46:39,50000
17215,2016-03-14 16:57:29,Morgan_Andere,41500,test,convertible,2012,manual,82,NaN,2,gas,sonstige_autos,no,2016-03-14 00:00:00,51109,2016-03-26 12:44:42,10000
13633,2016-03-14 15:38:33,Pontiac_Bonneville,41000,control,convertible,1966,automatic,290,NaN,7,gas,sonstige_autos,no,2016-03-14 00:00:00,72766,2016-04-05 18:45:08,150000
25485,2016-03-19 12:46:41,Maserati_Granturismo,39999,test,coupe,2009,automatic,439,NaN,10,NaN,sonstige_autos,yes,2016-03-19 00:00:00,28197,2016-04-06 17:15:38,70000
10268,2016-03-30 11:06:19,Corvette_Corvette_Coupe_C6_6_2_V8_AT_Performance,39890,test,coupe,2011,manual,436,NaN,1,gas,sonstige_autos,no,2016-03-30 00:00:00,63225,2016-04-04 18:47:00,30000
1524,2016-04-02 17:00:29,Dodge__RAM_Laramie_1500_V8_HEMI_Crew_Cab_AHK,39500,control,suv,2013,automatic,401,NaN,6,gas,sonstige_autos,no,2016-04-02 00:00:00,53557,2016-04-06 16:46:18,50000
21878,2016-03-17 09:48:19,Rolls_Royce_Silver_Spur,39000,test,sedan,1994,automatic,243,NaN,7,gas,sonstige_autos,no,2016-03-17 00:00:00,94072,2016-04-06 06:16:26,30000
43967,2016-03-10 12:51:01,Lotus_Super_Seven_Caterham_R_500,37999,test,convertible,2002,manual,231,NaN,7,gas,sonstige_autos,no,2016-03-10 00:00:00,81735,2016-04-07 06:45:04,5000
48962,2016-03-07 12:55:27,Triumph_TR3A,37000,test,convertible,1961,manual,101,NaN,7,gas,sonstige_autos,NaN,2016-03-07 00:00:00,47669,2016-04-06 03:16:35,150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39231,2016-03-29 08:57:50,Suchen_7_Sitzer_//_Bus,0,control,bus,2005,NaN,0,NaN,0,NaN,sonstige_autos,no,2016-03-29 00:00:00,24321,2016-04-05 16:46:59,80000
35906,2016-03-22 21:36:45,Suche_Automatik_Auto_bis_450_ohne_TÃœV,0,control,NaN,2000,automatic,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-22 00:00:00,45329,2016-03-25 14:49:28,150000
36162,2016-04-03 20:41:49,Elektro_Rolli,0,test,NaN,2009,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-04-03 00:00:00,22113,2016-04-03 20:41:49,5000
38848,2016-03-29 22:06:25,Suche_gaz69_4tuerer,0,test,NaN,1970,NaN,0,NaN,12,NaN,sonstige_autos,NaN,2016-03-29 00:00:00,35745,2016-04-06 13:45:18,10000
3527,2016-03-19 12:51:47,Autos_Ankauf_Dortmund,0,test,NaN,2000,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-19 00:00:00,44328,2016-03-24 06:45:30,125000
36442,2016-03-25 16:56:09,Barkas_B1000_Pritsche_zur_Ersatzteilgewinnung_...,0,control,andere,1978,NaN,43,NaN,0,gas,sonstige_autos,no,2016-03-25 00:00:00,9232,2016-04-02 21:18:04,50000
36702,2016-03-10 23:53:08,Tausche_mein_LED_smart_tv_48_Zoll_gegen?,0,test,NaN,1990,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-10 00:00:00,46485,2016-03-12 10:17:47,30000
3308,2016-03-28 20:58:50,Suche_dringend_ein_Kleinwagen,0,control,NaN,2000,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-28 00:00:00,44532,2016-04-03 02:20:29,5000
2201,2016-03-27 19:50:35,Wartburg_1_3___4_Takter,0,control,sedan,1991,manual,65,NaN,10,gas,sonstige_autos,NaN,2016-03-27 00:00:00,18258,2016-04-05 18:16:02,80000
30761,2016-03-09 01:57:22,Moin_Moin_Bastler_Sucht_Auto_!!???,0,control,NaN,1990,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-09 00:00:00,27749,2016-03-09 07:00:47,150000
30413,2016-03-16 12:36:22,Suche_Transporter,0,test,bus,2000,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-16 00:00:00,41812,2016-03-31 16:44:53,5000
29947,2016-03-11 10:48:57,Familie_sucht_einen_Kombi,0,test,station wagon,1999,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-11 00:00:00,37619,2016-03-16 17:47:08,150000
37477,2016-04-01 10:55:37,?Moin_Moin_Bastler_Sucht_Altfahrzeug_!!???,0,control,NaN,1990,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-04-01 00:00:00,27749,2016-04-01 11:43:08,150000
45026,2016-03-12 22:53:01,Suche_dringend_eine_Auto_mit_TÃœV,0,control,NaN,2005,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-12 00:00:00,46145,2016-03-16 09:15:45,150000
826,2016-03-28 00:56:49,Ich_suche_dring._neues_Auto...,0,control,NaN,2000,NaN,0,NaN,1,NaN,sonstige_autos,NaN,2016-03-27 00:00:00,27313,2016-04-06 09:45:03,150000
44415,2016-03-10 22:55:34,Auffahrrampe_/_Ausstellungsrampe,0,control,NaN,2013,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-10 00:00:00,31789,2016-03-18 04:15:19,5000
8151,2016-03-28 18:26:22,Dodge_RAM_srt_Optik_v8_4_7_Liter,0,test,NaN,2005,automatic,0,NaN,0,gas,sonstige_autos,NaN,2016-03-28 00:00:00,65239,2016-04-01 05:45:27,150000
20834,2016-03-18 22:47:46,Schrottreif?,0,test,NaN,1990,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-18 00:00:00,56472,2016-04-06 19:18:15,5000
7348,2016-03-07 18:48:44,Suche_Familienauto_Van,0,control,bus,2006,manual,0,NaN,0,gas,sonstige_autos,no,2016-03-07 00:00:00,7747,2016-03-15 02:16:23,100000
22105,2016-03-19 15:43:16,Suche_guenstigen_Kleinwagen_mit_Tuev,0,control,NaN,2000,NaN,50,NaN,0,NaN,sonstige_autos,no,2016-03-19 00:00:00,26817,2016-03-20 17:19:53,5000
22414,2016-03-23 20:44:39,Suche_Auto_in_Tausch_gegen_Laptop,0,test,NaN,2000,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-23 00:00:00,23843,2016-03-25 04:46:54,5000
29649,2016-03-26 00:58:41,Ich_verkaufe_und_kaufe_autos,0,test,NaN,1980,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-25 00:00:00,27576,2016-03-26 05:57:29,5000
43481,2016-03-20 10:59:19,Holzkoepfe/Arschmaden,0,control,NaN,2000,NaN,0,NaN,8,NaN,sonstige_autos,NaN,2016-03-20 00:00:00,23845,2016-03-20 10:59:19,5000
23699,2016-03-26 13:49:19,Suche_Auto_in_Tausch_gegen_Laptop,0,control,NaN,2000,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-26 00:00:00,23843,2016-03-26 13:49:19,5000
26587,2016-03-12 01:37:02,Jede_Marke_jedes_Alter_jeder_Zustand,0,test,NaN,1990,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-12 00:00:00,23611,2016-03-30 17:37:01,150000
42208,2016-04-01 11:59:20,Ich_suche_Auto_Kombi,0,test,NaN,2005,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-04-01 00:00:00,13583,2016-04-03 08:17:29,70000
27096,2016-03-22 00:51:42,Ich_suche_Autos_fuer_Export_bitte_melden...,0,control,NaN,2011,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-22 00:00:00,63065,2016-03-22 01:32:21,150000
42066,2016-03-08 01:58:27,Suche_Auto_bis_1.500Â€___2000Â€!,0,control,NaN,2000,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-08 00:00:00,48341,2016-03-12 09:18:00,150000
28280,2016-03-27 12:48:08,Professionelle_Kfz_Aufbereitung,0,test,NaN,2015,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-27 00:00:00,88213,2016-03-27 12:48:08,125000
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,0,test,NaN,2000,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,12103,2016-04-02 19:44:53,150000

The sonstige vehicles seem to be luxury vehicles at the high end of the songstige price range - Rolls Royce, Tesla, Lambourghini, Bentley.

In [47]:
mileage_aggregate = {}
for name in hot_brands:
    mileage_aggregate[name] = autos.loc[autos["brand"] == name, "odometer_km"].mean()
mileage_aggregate

{'audi': 129287.78018799711,
 'bmw': 132431.38368351315,
 'citroen': 119580.8383233533,
 'fiat': 116553.94524959743,
 'ford': 124068.65671641791,
 'hyundai': 106511.62790697675,
 'mazda': 124745.5295735901,
 'mercedes_benz': 130856.0821139987,
 'mini': 88602.40963855422,
 'nissan': 118572.41379310345,
 'opel': 129224.7688751926,
 'peugeot': 127136.81241184767,
 'renault': 128238.01143862736,
 'seat': 121563.57388316152,
 'skoda': 110954.54545454546,
 'smart': 99595.80838323354,
 'sonstige_autos': 88262.54826254827,
 'toyota': 115709.51585976628,
 'volkswagen': 128724.10407461954,
 'volvo': 138355.85585585586}

In [48]:
price_aggregate = {}
for name in hot_brands:
    price_aggregate[name] = autos.loc[autos["brand"] == name, "price"].mean()
price_aggregate

{'audi': 9093.65003615329,
 'bmw': 8102.536248343744,
 'citroen': 3699.935628742515,
 'fiat': 2711.8011272141707,
 'ford': 3652.095223880597,
 'hyundai': 5308.53911205074,
 'mazda': 4010.7716643741405,
 'mercedes_benz': 8485.239571958942,
 'mini': 10460.012048192772,
 'nissan': 4664.891034482758,
 'opel': 2877.7224576271187,
 'peugeot': 3039.4682651622,
 'renault': 2396.2067751869777,
 'seat': 4296.492554410081,
 'skoda': 6334.91948051948,
 'smart': 3542.706586826347,
 'sonstige_autos': 10909.372586872587,
 'toyota': 5115.33388981636,
 'volkswagen': 5231.081983308787,
 'volvo': 4757.108108108108}

In [49]:
mileage_series = pd.Series(mileage_aggregate)
price_series = pd.Series(price_aggregate)

In [50]:
price_mileage_by_brand = pd.DataFrame(mileage_series, columns=['mileage'])
price_mileage_by_brand

                      mileage
audi            129287.780188
bmw             132431.383684
citroen         119580.838323
fiat            116553.945250
ford            124068.656716
hyundai         106511.627907
mazda           124745.529574
mercedes_benz   130856.082114
mini             88602.409639
nissan          118572.413793
opel            129224.768875
peugeot         127136.812412
renault         128238.011439
seat            121563.573883
skoda           110954.545455
smart            99595.808383
sonstige_autos   88262.548263
toyota          115709.515860
volkswagen      128724.104075
volvo           138355.855856

In [51]:
price_mileage_by_brand["price"] = price_series

In [52]:
price_mileage_by_brand.sort_values(by='mileage', ascending=False)

                      mileage         price
volvo           138355.855856   4757.108108
bmw             132431.383684   8102.536248
mercedes_benz   130856.082114   8485.239572
audi            129287.780188   9093.650036
opel            129224.768875   2877.722458
volkswagen      128724.104075   5231.081983
renault         128238.011439   2396.206775
peugeot         127136.812412   3039.468265
mazda           124745.529574   4010.771664
ford            124068.656716   3652.095224
seat            121563.573883   4296.492554
citroen         119580.838323   3699.935629
nissan          118572.413793   4664.891034
fiat            116553.945250   2711.801127
toyota          115709.515860   5115.333890
skoda           110954.545455   6334.919481
hyundai         106511.627907   5308.539112
smart            99595.808383   3542.706587
mini             88602.409639  10460.012048
sonstige_autos   88262.548263  10909.372587

The luxury vehicles towards the top of this list have among the highest mileage as well as the highest prices - BMW, Mercedes, and Audi are in second, third, and fourth place respectively.  The other cars at the top of the average mileage list cost significantly less.  This suggests that the luxury cars are still worth more despite their relatively high mileage, at least in the eyes of the owners (if these prices are indeed asking prices rather than selling prices).

Interestingly, the sonstige_autos are at the bottom of the list in terms of average mileage, despite having the highest average prices.  The Mini is very similar to the sonstige_autos in both price and mileage, differing in less than 500 for each value.

The data for the mileage seems to be bracketed rather than precise amounts.  The values are all rounded to the nearest thousand, with 150,000km being the most frequent and also the highest value.  This lack of precision coupled with the fact that the price listings may only be asking prices, means that this is very much an estimate in terms of price-mileage correlation.

I wanted to break this information down further to see if I could find a correlation between mileage range and price:

In [53]:
autos["odometer_km"].describe()

count     48006.000000
mean     125569.199683
std       40075.668357
min        5000.000000
25%      100000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [54]:
low_mileage = autos[autos["odometer_km"] < 100000]
low_mileage

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen,odometer_km
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,sedan,2009,manual,102,golf,7,gas,volkswagen,no,2016-03-26 00:00:00,35394,2016-04-06 20:15:37,70000
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,small car,2007,automatic,71,fortwo,6,gas,smart,no,2016-03-12 00:00:00,33729,2016-03-15 03:16:28,70000
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,5299,control,small car,2010,automatic,71,fortwo,9,gas,smart,no,2016-03-31 00:00:00,34590,2016-04-06 14:17:52,50000
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,18900,test,coupe,1982,automatic,203,NaN,6,gas,sonstige_autos,no,2016-04-01 00:00:00,61276,2016-04-02 21:10:48,80000
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,25450,control,convertible,2015,manual,184,cooper,1,gas,mini,no,2016-03-28 00:00:00,44789,2016-04-01 06:45:30,10000
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,48500,control,sedan,2014,automatic,306,5er,12,gas,bmw,no,2016-04-03 00:00:00,22547,2016-04-07 13:16:50,30000
37,2016-03-23 16:47:46,Seat_Altea_XL_2.0_TDI_CR_DPF_Style,13800,test,bus,2012,manual,140,altea,2,diesel,seat,no,2016-03-23 00:00:00,85113,2016-04-05 20:17:53,90000
42,2016-03-22 21:37:03,Vw_Polo_l.0_/60_PS_Blue_Motion_Technologie_Son...,11900,control,small car,2014,manual,60,polo,7,gas,volkswagen,NaN,2016-03-22 00:00:00,26629,2016-04-06 18:44:39,20000
43,2016-03-08 16:51:22,Audi_A1_1.2_TFSI_Attraction_mit_Garantie,11500,test,small car,2011,manual,86,a1,9,gas,audi,no,2016-03-08 00:00:00,85049,2016-04-07 03:16:05,60000
49,2016-03-27 15:36:42,Mercedes_Benz_CL_500__BlueEFFICIENCY__7G_TRONIC,56000,control,coupe,2012,automatic,435,cl,2,gas,mercedes_benz,no,2016-03-27 00:00:00,34474,2016-04-05 11:47:52,60000
52,2016-03-25 18:50:03,Senator_A_3.0E_Karosserie_restauriert_m._viele...,3500,test,sedan,1985,NaN,0,other,0,gas,opel,no,2016-03-25 00:00:00,63500,2016-04-07 00:46:00,5000
53,2016-04-02 17:45:01,Dacia_Sandero_Stepway_II_MPI_85__top_gepflegt,9000,control,sedan,2012,manual,84,sandero,7,gas,dacia,no,2016-04-02 00:00:00,53639,2016-04-06 16:46:50,30000
63,2016-03-14 22:51:19,MINI_Mini_Cooper_S___Xenon_Leder,13950,control,small car,2011,manual,184,cooper,6,gas,mini,no,2016-03-14 00:00:00,14532,2016-04-06 18:46:08,70000
69,2016-03-21 18:58:06,Dacia_Sandero_1.4_MPI__Basis,2500,test,small car,2009,manual,75,sandero,5,gas,dacia,no,2016-03-21 00:00:00,74388,2016-03-28 16:46:41,90000
71,2016-03-28 19:39:35,Suche_Opel_Astra_F__Corsa_oder_Kadett_E_mit_Re...,0,control,NaN,1990,manual,0,NaN,0,gas,opel,NaN,2016-03-28 00:00:00,4552,2016-04-07 01:45:48,5000
76,2016-03-22 14:52:57,BMW_318i_neustes_Model_0Km,31999,control,sedan,2016,manual,136,3er,2,gas,bmw,NaN,2016-03-22 00:00:00,45149,2016-04-06 05:15:42,5000
85,2016-03-11 12:36:21,Toyota_yaris_cool,5000,test,small car,2009,manual,0,yaris,12,NaN,toyota,NaN,2016-03-11 00:00:00,30916,2016-04-07 08:17:01,60000
90,2016-03-07 13:50:22,Audi_A3_2.0_TDI_Cabrio_S_tronic__clean_diesel_...,34900,control,convertible,2014,automatic,150,a3,5,diesel,audi,no,2016-03-07 00:00:00,32052,2016-03-24 03:47:03,20000
95,2016-03-30 15:59:17,Jaguar_XJ_5.0_V8_Portfolio,36000,test,sedan,2012,automatic,385,other,8,gas,jaguar,no,2016-03-30 00:00:00,21720,2016-04-07 06:44:54,40000
99,2016-04-05 09:48:54,Peugeot_207_CC___Cabrio_Bj_2011,0,control,convertible,2011,manual,0,2_reihe,7,diesel,peugeot,no,2016-04-05 00:00:00,99735,2016-04-07 12:17:34,60000
100,2016-03-12 18:57:48,Mazda_5_2.0_CD_DPF_Exclusive,4500,test,bus,2007,manual,143,5_reihe,7,diesel,mazda,yes,2016-03-12 00:00:00,51375,2016-04-07 12:47:06,90000
102,2016-03-22 11:57:49,Ford_Ka_dunkel_blau,320,control,small car,2004,manual,0,ka,6,gas,ford,yes,2016-03-22 00:00:00,24109,2016-04-02 01:47:21,5000
103,2016-03-11 22:55:39,Nissan_Micra_1.2_visia_1._Hand_Bj._2010,3799,control,small car,2004,manual,65,micra,2,gas,nissan,no,2016-03-11 00:00:00,12157,2016-03-17 23:44:25,70000
106,2016-03-26 02:57:29,Opel_Tigra_A_1.6_16V_Schlachtfahrzeug__GSI_C20...,150,test,coupe,1996,manual,106,tigra,10,NaN,opel,yes,2016-03-26 00:00:00,67269,2016-04-05 19:47:10,5000
114,2016-03-23 17:51:11,Volkswagen_Passat_Variant_2.0_TDI_BlueMotion_T...,18700,control,station wagon,2013,manual,140,passat,11,diesel,volkswagen,no,2016-03-23 00:00:00,38440,2016-04-05 22:17:49,60000
116,2016-03-14 06:36:20,Opel_Corsa,7350,control,small car,2012,manual,101,corsa,11,gas,opel,no,2016-03-14 00:00:00,90475,2016-03-20 22:45:46,80000
120,2016-03-24 22:56:04,Golf_VII_1_4_TSI_Highline_Autom_Panorama_Alcan...,18900,control,sedan,2013,automatic,122,golf,7,gas,volkswagen,no,2016-03-24 00:00:00,58708,2016-03-31 11:15:33,30000
121,2016-03-15 09:48:41,verkaufe_Ford_focus_1_8_Diesel,1100,control,station wagon,2002,manual,127,focus,8,diesel,ford,NaN,2016-03-15 00:00:00,27568,2016-03-22 08:47:10,5000
122,2016-03-17 18:53:29,Skoda_Octavia_Combi_2.0_TDI_DPF_RS,9990,control,station wagon,2007,manual,170,octavia,11,diesel,skoda,no,2016-03-17 00:00:00,99947,2016-03-23 08:15:39,90000
127,2016-03-21 15:49:37,Volkswagen_polo_6n_tuev_11/2016,190,control,small car,1995,manual,60,polo,3,gas,volkswagen,no,2016-03-21 00:00:00,30823,2016-03-22 20:18:58,30000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49832,2016-03-28 13:41:35,Hyundai_Santa_Fe_2.2_CRDi_/_Diesel__Automatik_...,29999,test,suv,2015,automatic,197,santa,4,diesel,hyundai,no,2016-03-28 00:00:00,50389,2016-04-04 15:18:15,20000
49842,2016-04-02 14:42:45,Mercedes_Benz_Vito_111_CDI_Kompakt,12500,test,bus,2009,NaN,0,vito,1,diesel,mercedes_benz,no,2016-04-02 00:00:00,30826,2016-04-06 12:46:12,90000
49844,2016-03-26 19:43:51,Fahrzeug_Ankauf!!!!,22222,control,NaN,2005,NaN,0,NaN,0,NaN,opel,NaN,2016-03-26 00:00:00,72160,2016-03-26 19:43:51,5000
49845,2016-03-21 00:50:15,Schlachte_VW_Sharan_vr6_Automatik___no_GTI_16V...,1,test,NaN,2000,automatic,174,sharan,6,gas,volkswagen,no,2016-03-20 00:00:00,14621,2016-04-05 21:16:16,5000
49847,2016-04-03 22:58:18,Volkswagen_Golf_1.4_TSI_BlueMotion_Technology_...,17499,control,sedan,2013,automatic,140,golf,6,gas,volkswagen,no,2016-04-03 00:00:00,71665,2016-04-06 00:45:08,40000
49850,2016-03-21 06:36:54,Vw_Passat_2_0tdi,5650,control,sedan,2006,manual,140,passat,12,diesel,volkswagen,no,2016-03-21 00:00:00,27751,2016-04-06 01:50:22,30000
49855,2016-03-24 09:36:21,Porsche_Cayman_S_PDK__Chrono_Plus__Approved__P...,33500,control,coupe,2009,automatic,320,other,1,gas,porsche,no,2016-03-24 00:00:00,74321,2016-03-24 09:36:21,90000
49857,2016-03-21 17:40:01,Volkswagen_Golf_1.6_TDI_BlueMotion_Technology_...,16490,control,sedan,2013,manual,105,golf,2,diesel,volkswagen,no,2016-03-21 00:00:00,27798,2016-04-06 17:46:46,70000
49860,2016-04-03 14:49:24,Tausche_gegen_Opel_Agila,800,test,andere,1997,NaN,0,agila,0,gas,opel,NaN,2016-04-03 00:00:00,65191,2016-04-06 21:45:13,20000
49862,2016-03-05 14:55:10,opel_astra_F_caravan,1100,control,station wagon,1997,manual,74,astra,9,NaN,opel,NaN,2016-03-05 00:00:00,61279,2016-03-14 05:46:23,80000
49865,2016-03-10 01:37:42,Mercedes_CLK_270_CDI_TÃœV_bis_11_2017_klimaauto...,5200,test,coupe,2004,automatic,0,clk,12,diesel,mercedes_benz,NaN,2016-03-09 00:00:00,80686,2016-03-31 07:46:31,5000
49866,2016-03-29 23:43:12,Golf_III_zum_Ausschlachten,385,control,small car,1996,manual,75,golf,5,gas,volkswagen,yes,2016-03-29 00:00:00,38690,2016-04-06 10:45:00,70000
49875,2016-03-29 13:55:06,Golf_5_Variant_ab_April_zu_verkaufen,7900,control,station wagon,2009,manual,80,golf,8,gas,volkswagen,NaN,2016-03-29 00:00:00,16269,2016-04-05 23:17:47,90000
49893,2016-03-15 13:58:31,Mitsubishi_Pajero_3.2_DI_D_Automatik_Instyle,19500,control,suv,2007,automatic,170,pajero,6,diesel,mitsubishi,no,2016-03-15 00:00:00,91522,2016-03-22 15:17:52,60000
49901,2016-03-12 20:50:37,MINI_Mini_One,8300,control,small car,2009,manual,75,one,7,gas,mini,no,2016-03-12 00:00:00,65195,2016-03-22 07:47:50,40000
49903,2016-03-17 16:46:40,Opel_Astra_1.7_CDTI_Caravan_DPF__119g__Edition...,8250,test,station wagon,2010,manual,110,astra,10,diesel,opel,no,2016-03-17 00:00:00,61130,2016-04-07 01:45:17,90000
49907,2016-03-10 10:52:58,Opel_Astra_1.4_ecoFLEX_Edition,8250,test,sedan,2011,manual,101,astra,9,gas,opel,no,2016-03-10 00:00:00,35418,2016-04-07 00:16:27,50000
49908,2016-03-19 18:36:24,Fiat_Panda_1.1_Active,2900,test,small car,2009,manual,54,panda,3,gas,fiat,no,2016-03-19 00:00:00,45549,2016-04-07 07:15:20,80000
49934,2016-03-11 19:44:33,Mazda_MX_5_1.6i_16V_Rostfrei__Top_Zustand,4999,test,convertible,1999,manual,110,mx_reihe,6,gas,mazda,no,2016-03-11 00:00:00,52224,2016-04-06 00:16:54,80000
49939,2016-03-13 15:43:19,Audi_TT_Roadster_2.0_TFSI,16995,test,convertible,2007,manual,200,tt,3,gas,audi,no,2016-03-13 00:00:00,94522,2016-04-06 17:16:35,80000
49941,2016-03-15 00:53:25,Maserati_Ghibli_Diesel_Automatik,62000,test,sedan,2015,automatic,275,NaN,8,diesel,sonstige_autos,no,2016-03-14 00:00:00,10179,2016-03-30 23:17:48,10000
49948,2016-03-22 16:44:57,Hyundai_ix35_2.0_CRDi_4WD_Automatik,19900,test,suv,2013,automatic,184,i_reihe,5,diesel,hyundai,no,2016-03-22 00:00:00,96515,2016-04-06 06:45:11,70000
49950,2016-03-15 13:45:36,Volvo_V70_2_II__2002__AHK__Klima__Volleder,3099,control,station wagon,2002,manual,140,NaN,5,NaN,volvo,no,2016-03-15 00:00:00,23554,2016-03-21 09:46:27,30000
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,15800,control,bus,2010,automatic,136,c4,4,diesel,citroen,no,2016-03-21 00:00:00,14947,2016-04-07 04:17:34,60000
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,11000,test,small car,2011,manual,90,polo,11,diesel,volkswagen,no,2016-03-20 00:00:00,48455,2016-04-07 01:45:12,70000
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,1950,control,small car,2004,manual,0,fabia,7,gas,skoda,NaN,2016-03-29 00:00:00,45884,2016-03-29 18:51:08,90000
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,21990,control,sedan,2013,manual,150,a3,11,diesel,audi,no,2016-03-22 00:00:00,94362,2016-03-26 22:46:06,50000
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,17500,test,sedan,2012,manual,156,a_klasse,12,gas,mercedes_benz,no,2016-03-21 00:00:00,58239,2016-04-06 22:46:57,30000
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,13200,test,convertible,2014,automatic,69,500,11,gas,fiat,no,2016-04-02 00:00:00,73430,2016-04-04 11:47:27,5000
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,22900,control,station wagon,2013,manual,150,a3,11,diesel,audi,no,2016-03-08 00:00:00,35683,2016-04-05 16:45:07,40000

In [55]:
mid_mileage = autos[(autos["odometer_km"] > 99999) & (autos["odometer_km"] < 150000)]
mid_mileage

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen,odometer_km
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,777,control,small car,1992,manual,54,polo,2,gas,volkswagen,no,2016-04-03 00:00:00,38110,2016-04-05 23:46:48,125000
38,2016-03-21 15:51:10,Volkswagen_Golf_1.4_Special,2850,control,sedan,2002,manual,75,golf,2,gas,volkswagen,no,2016-03-21 00:00:00,63674,2016-03-28 12:16:06,125000
50,2016-03-09 16:48:05,Â•??_????????_??Â•Top!!!_Peugeot_308_sw_Sport_Â•?...,5999,test,station wagon,2008,manual,150,3_reihe,8,gas,peugeot,no,2016-03-09 00:00:00,55569,2016-04-07 06:17:09,125000
54,2016-03-15 19:51:34,Ford_Focus_1.8_Futura,2500,control,sedan,2004,manual,116,focus,9,gas,ford,no,2016-03-15 00:00:00,6886,2016-03-30 09:47:29,125000
56,2016-03-18 20:49:55,Renault_Clio,650,test,small car,1997,manual,58,clio,7,gas,renault,NaN,2016-03-18 00:00:00,59229,2016-03-31 06:15:57,125000
58,2016-03-30 12:25:18,Volkswagen_Golf_1.4,4200,control,sedan,2004,manual,75,golf,11,gas,volkswagen,no,2016-03-30 00:00:00,56073,2016-04-01 08:29:34,125000
62,2016-03-12 17:41:11,Volkswagen_Golf_Plus_1.6_FSI_Goal,6300,test,bus,2006,manual,116,golf,4,gas,volkswagen,no,2016-03-12 00:00:00,80939,2016-04-03 08:16:15,125000
73,2016-03-18 23:41:21,VW_T3_Doka_1_7D_TÃœV_07/2017,2700,test,bus,1986,manual,57,transporter,8,diesel,volkswagen,NaN,2016-03-18 00:00:00,82205,2016-04-05 23:16:13,125000
86,2016-04-03 18:53:46,Mitsubishi_Colt_CAO_16_V_Malibu_20_Jahre_in_1....,399,control,coupe,1995,manual,113,colt,10,gas,mitsubishi,yes,2016-04-03 00:00:00,58507,2016-04-03 18:53:46,125000
89,2016-04-05 00:57:27,Audi_A6_2.4,7900,control,sedan,2005,automatic,177,a6,1,gas,audi,no,2016-04-05 00:00:00,92660,2016-04-07 08:46:52,125000
91,2016-03-05 21:49:55,BMW_120i,7999,test,sedan,2006,manual,150,1er,4,gas,bmw,no,2016-03-05 00:00:00,30419,2016-04-07 08:44:57,125000
97,2016-04-01 16:54:40,Treuer_Begleiter_abzugeben,800,control,bus,2000,manual,63,other,8,gas,mazda,yes,2016-04-01 00:00:00,87648,2016-04-05 12:17:40,125000
98,2016-04-04 15:47:36,Audi_A4_Cabriolet_2.0_TFSI_S_Line,13500,test,convertible,2008,automatic,200,a4,5,gas,audi,NaN,2016-04-04 00:00:00,66459,2016-04-06 17:17:56,125000
109,2016-03-21 18:37:36,Seat_Cordoba,3399,test,sedan,2006,manual,75,cordoba,6,gas,seat,no,2016-03-21 00:00:00,48301,2016-04-06 19:47:12,125000
125,2016-03-17 17:56:46,Seat_Altea_1_6,4000,control,bus,2005,manual,105,altea,11,gas,seat,no,2016-03-17 00:00:00,34474,2016-04-06 02:45:09,100000
126,2016-03-09 16:47:58,Peugeot_207_CC_120_VTi_Sport,6990,test,convertible,2008,manual,120,2_reihe,7,gas,peugeot,no,2016-03-09 00:00:00,21395,2016-04-07 06:16:01,125000
129,2016-04-04 16:40:59,Nissan_Primera_Kombi_bis_Februar_2017_TÃœV_6_Gang,1790,test,station wagon,2002,manual,126,primera,2,diesel,nissan,no,2016-04-04 00:00:00,30455,2016-04-06 18:16:50,125000
131,2016-04-03 14:49:09,Audi_A3_Sportback,11900,test,sedan,2009,manual,160,a3,12,gas,audi,no,2016-04-03 00:00:00,56727,2016-04-03 14:49:09,100000
137,2016-03-09 10:42:44,Peugeot_308_175_THP_Platinum,7750,control,sedan,2009,manual,174,3_reihe,6,gas,peugeot,no,2016-03-09 00:00:00,12279,2016-04-07 14:56:14,125000
139,2016-03-13 19:43:32,Mercedes_Benz_E_320,11490,control,sedan,2003,automatic,0,e_klasse,10,gas,mercedes_benz,NaN,2016-03-13 00:00:00,64283,2016-03-31 22:45:11,125000
147,2016-03-15 14:52:55,VW_Polo_Ersatzteilspender,600,control,NaN,2000,manual,60,polo,6,gas,volkswagen,NaN,2016-03-15 00:00:00,18311,2016-03-17 09:44:18,125000
148,2016-03-17 07:57:07,Polo_6N_mit_tuev_bis_03._2017_fuer_500_euro,500,control,small car,1996,manual,60,polo,8,gas,volkswagen,yes,2016-03-17 00:00:00,38440,2016-04-06 05:16:35,125000
149,2016-03-12 13:51:26,Kia_Sephia_GTX,550,control,sedan,1997,manual,80,other,2,gas,kia,no,2016-03-12 00:00:00,52391,2016-03-12 13:51:26,100000
150,2016-03-19 17:43:49,Renault_Laguna_2.0_IDE,2450,control,sedan,2002,manual,140,laguna,4,gas,renault,no,2016-03-19 00:00:00,1259,2016-03-30 13:17:02,125000
160,2016-03-31 02:36:24,BMW_M5_DKG,50500,test,sedan,2012,automatic,560,m_reihe,3,gas,bmw,no,2016-03-31 00:00:00,16225,2016-04-05 19:15:29,100000
162,2016-03-28 10:54:23,Fiat_Grande_Punto_1.4_16V_Sport,4900,control,small car,2009,manual,95,other,9,gas,fiat,no,2016-03-28 00:00:00,50374,2016-04-06 13:44:51,125000
165,2016-03-27 12:53:58,Audi_A4_2.0_TDI_S_line_Xenon_Alarmanlage,13950,test,sedan,2008,manual,143,a4,7,diesel,audi,no,2016-03-27 00:00:00,56288,2016-03-30 16:16:33,125000
168,2016-03-08 17:43:32,Mercedes_Benz_E_220_CDI_DPF_BlueEFFICIENCY_7G_...,21959,control,sedan,2011,automatic,170,e_klasse,11,diesel,mercedes_benz,no,2016-03-08 00:00:00,42929,2016-04-07 06:17:07,125000
170,2016-03-17 14:38:23,Fiat_Seicento_1.1_Top_zustand_mit_tuev_servo___,890,control,small car,1999,manual,55,seicento,11,gas,fiat,no,2016-03-17 00:00:00,63739,2016-03-17 14:38:23,100000
184,2016-04-04 23:56:50,Peugeot_207_75_Urban_Move__Panoramadach__Klima...,4490,control,small car,2009,manual,73,2_reihe,3,gas,peugeot,no,2016-04-04 00:00:00,51647,2016-04-07 09:15:23,100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49797,2016-03-25 04:03:15,Nissan_Note_1.4,4490,control,bus,2008,manual,88,note,4,gas,nissan,no,2016-03-25 00:00:00,53560,2016-04-04 06:18:46,125000
49801,2016-03-09 13:57:00,Volkswagen_Jetta_2.0_TDI_Highline,12750,control,sedan,2011,manual,140,jetta,10,diesel,volkswagen,no,2016-03-09 00:00:00,21423,2016-04-06 08:44:31,125000
49805,2016-03-16 20:40:05,Chrysler_Stratus_2.5_LX,3750,control,convertible,1999,automatic,163,other,7,gas,chrysler,no,2016-03-16 00:00:00,47198,2016-03-20 21:45:22,125000
49825,2016-03-21 12:37:12,Nissan_Note,4150,control,sedan,2008,manual,88,note,1,gas,nissan,no,2016-03-21 00:00:00,33607,2016-04-06 06:45:06,125000
49826,2016-03-25 16:38:05,Opel_Meriva_1.4_ecoflex_Innovation,8500,control,bus,2010,manual,120,meriva,12,lpg,opel,no,2016-03-25 00:00:00,15936,2016-04-06 20:47:53,100000
49836,2016-03-19 17:43:06,BMW_320i,3650,control,sedan,1998,manual,150,3er,9,gas,bmw,no,2016-03-19 00:00:00,58454,2016-03-20 19:46:06,125000
49840,2016-03-07 20:41:52,BMW_118d_DPF_M_Sportpaket,10990,test,sedan,2009,manual,143,1er,1,diesel,bmw,no,2016-03-07 00:00:00,72669,2016-03-15 07:45:26,125000
49853,2016-03-05 19:53:59,BMW_X3_2.0d,13500,test,sedan,2008,manual,177,x_reihe,3,diesel,bmw,no,2016-03-05 00:00:00,81927,2016-04-03 18:16:38,125000
49872,2016-03-15 09:55:18,Mercedes_Benz_E_200,3800,control,sedan,2003,manual,122,e_klasse,8,diesel,mercedes_benz,yes,2016-03-15 00:00:00,41238,2016-03-15 10:47:23,125000
49882,2016-03-19 14:51:02,Fiat_Marea_1_8_16V_Tausch_moeglich.Auch_Diesel...,1000,test,sedan,1997,manual,113,other,9,gas,fiat,no,2016-03-19 00:00:00,56112,2016-04-07 04:45:14,125000
49899,2016-03-28 10:54:39,BMW_320d_DPF___2.Hd___Schiebedach___Sitzheizun...,9290,control,sedan,2007,manual,163,3er,9,diesel,bmw,no,2016-03-28 00:00:00,38667,2016-03-28 11:42:13,125000
49900,2016-03-26 13:56:07,Mercedes_Benz_S_350_CDI_4Matic_DPF_7G_TRONIC_B...,34990,control,sedan,2010,automatic,235,s_klasse,6,diesel,mercedes_benz,no,2016-03-26 00:00:00,63071,2016-04-06 01:47:06,125000
49918,2016-04-03 13:46:18,Peugeot_206_cc_1_6_16V_Coupe_Cabrio__schwarz_L...,5050,control,convertible,2007,manual,109,2_reihe,2,gas,peugeot,no,2016-04-03 00:00:00,79238,2016-04-05 12:44:32,100000
49921,2016-03-05 14:29:00,Smart_ForTwo_Cabrio_Schwarz_HU+AU_bis_Oktober_...,2350,test,convertible,2000,automatic,54,fortwo,4,gas,smart,NaN,2016-02-16 00:00:00,55411,2016-04-05 12:30:49,100000
49923,2016-03-05 15:41:51,Toyota_Yaris_1.0_VVT_i,4500,control,small car,2009,manual,69,yaris,1,gas,toyota,no,2016-03-05 00:00:00,32676,2016-04-07 05:45:26,125000
49924,2016-03-21 14:43:15,Seat_Ibiza_1.Hand__Scheckheft,3400,control,small car,2008,manual,60,ibiza,5,gas,seat,no,2016-03-21 00:00:00,44357,2016-03-24 03:15:28,125000
49929,2016-03-27 13:58:31,Opel_Corsa_Swing,1390,test,small car,1993,manual,60,corsa,11,gas,opel,no,2016-03-27 00:00:00,40229,2016-04-07 09:46:31,125000
49931,2016-03-22 16:54:39,LANCIA_luxusausstattung_limosine_1.8_fuer_export,799,test,sedan,2003,manual,131,lybra,2,gas,lancia,yes,2016-03-22 00:00:00,80807,2016-04-06 08:17:09,100000
49933,2016-04-03 23:55:34,Volkswagen_New_Beetle_1.9_TDI,5500,control,sedan,2001,manual,90,beetle,1,diesel,volkswagen,no,2016-04-03 00:00:00,41352,2016-04-06 08:16:28,125000
49942,2016-03-09 19:43:33,Audi_A3_2.0_TDI_Sportback_DPF_Ambition,10000,test,station wagon,2007,manual,140,a3,10,diesel,audi,no,2016-03-09 00:00:00,66663,2016-04-05 13:15:31,125000
49952,2016-03-21 21:45:33,VW_POLO__9N3_Silber_1_2_Ltr._5_tuerer__96_tsd....,4300,control,small car,2005,manual,64,polo,3,gas,volkswagen,no,2016-03-21 00:00:00,35418,2016-04-07 01:44:58,100000
49953,2016-03-30 17:55:21,Ford_Mustang,14750,control,coupe,1967,automatic,163,mustang,8,gas,ford,no,2016-03-30 00:00:00,84478,2016-03-30 17:55:21,125000
49956,2016-03-28 22:39:12,Toyota_Yaris_1.3_VVT_i_Executive_MODEL_2007,4450,control,small car,2006,manual,87,yaris,9,gas,toyota,no,2016-03-28 00:00:00,44357,2016-03-30 15:45:26,125000
49963,2016-03-26 19:52:59,Mercedes_Benz_B_200_CDI_Special_Edition,7600,control,bus,2007,manual,140,b_klasse,5,diesel,mercedes_benz,no,2016-03-26 00:00:00,92272,2016-03-28 09:45:44,125000
49965,2016-03-11 10:53:51,Opel_Astra_1.6_Lenkradheizung~Sitzheizung,6700,test,sedan,2011,manual,116,astra,3,gas,opel,no,2016-03-11 00:00:00,37627,2016-03-15 01:44:57,125000
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,9700,control,small car,2012,automatic,88,jazz,11,hybrid,honda,no,2016-03-27 00:00:00,84385,2016-04-05 19:45:34,100000
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,400,control,station wagon,1995,manual,105,escort,3,gas,ford,NaN,2016-03-12 00:00:00,56218,2016-04-06 17:16:49,125000
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,15900,control,sedan,2010,automatic,218,300c,11,diesel,chrysler,no,2016-04-04 00:00:00,73527,2016-04-06 23:16:00,125000
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,4800,control,small car,2009,manual,120,other,9,lpg,fiat,no,2016-03-10 00:00:00,68642,2016-03-13 01:44:51,125000
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,24900,control,sedan,2011,automatic,239,q5,1,diesel,audi,no,2016-03-27 00:00:00,82131,2016-04-01 13:47:40,100000

In [56]:
hi_mileage = autos[autos["odometer_km"] == 150000]
hi_mileage

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen,odometer_km
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manual,158,other,3,lpg,peugeot,no,2016-03-26 00:00:00,79588,2016-04-06 06:45:54,150000
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,sedan,1997,automatic,286,7er,6,gas,bmw,no,2016-04-04 00:00:00,71034,2016-04-06 14:45:08,150000
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,1350,test,station wagon,2003,manual,0,focus,7,gas,ford,no,2016-04-01 00:00:00,39218,2016-04-01 14:38:50,150000
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,7900,test,bus,2006,automatic,150,voyager,4,diesel,chrysler,NaN,2016-03-21 00:00:00,22962,2016-04-06 09:45:21,150000
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,300,test,sedan,1995,manual,90,golf,8,gas,volkswagen,NaN,2016-03-20 00:00:00,31535,2016-03-23 02:48:59,150000
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,1990,control,sedan,1998,manual,90,golf,12,diesel,volkswagen,no,2016-03-16 00:00:00,53474,2016-04-07 03:17:32,150000
8,2016-03-22 16:51:34,Seat_Arosa,250,test,NaN,2000,manual,0,arosa,10,NaN,seat,no,2016-03-22 00:00:00,7426,2016-03-26 18:18:10,150000
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,590,control,bus,1997,manual,90,megane,7,gas,renault,no,2016-03-16 00:00:00,15749,2016-04-06 10:46:35,150000
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,350,control,NaN,2000,NaN,0,NaN,0,gas,mercedes_benz,NaN,2016-03-16 00:00:00,17498,2016-03-16 18:45:34,150000
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,1350,control,sedan,1999,manual,101,a3,11,gas,audi,no,2016-03-23 00:00:00,12043,2016-04-01 14:17:13,150000
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,3999,test,small car,2007,manual,75,clio,9,gas,renault,NaN,2016-03-23 00:00:00,81737,2016-04-01 15:46:47,150000
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,350,test,station wagon,1999,manual,101,vectra,5,gas,opel,no,2016-03-16 00:00:00,57299,2016-03-18 05:29:37,150000
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,5500,test,coupe,1990,manual,205,scirocco,6,gas,volkswagen,no,2016-03-29 00:00:00,74821,2016-04-05 20:46:26,150000
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,300,control,bus,1995,manual,150,3er,0,gas,bmw,NaN,2016-03-26 00:00:00,54329,2016-04-02 12:16:41,150000
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,4150,control,suv,2004,manual,124,other,2,lpg,mazda,no,2016-03-17 00:00:00,40878,2016-03-17 14:45:58,150000
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,3500,test,station wagon,2003,manual,131,a4,5,diesel,audi,NaN,2016-03-05 00:00:00,53913,2016-03-07 05:46:46,150000
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,41500,test,convertible,2004,manual,320,911,4,gas,porsche,no,2016-03-06 00:00:00,65428,2016-04-05 23:46:19,150000
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,7999,control,bus,2010,manual,120,NaN,2,diesel,peugeot,no,2016-03-10 00:00:00,30900,2016-03-17 08:45:17,150000
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,90,control,station wagon,1996,manual,116,NaN,4,gas,ford,yes,2016-03-21 00:00:00,27574,2016-04-01 05:16:49,150000
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,0,control,NaN,2005,NaN,0,NaN,0,NaN,ford,NaN,2016-03-27 00:00:00,66701,2016-03-27 18:45:01,150000
28,2016-03-19 21:56:19,MINI_Cooper_D,5250,control,small car,2007,manual,110,cooper,7,diesel,mini,yes,2016-03-19 00:00:00,15745,2016-04-07 14:58:48,150000
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,4999,test,station wagon,2004,automatic,204,e_klasse,10,diesel,mercedes_benz,no,2016-04-02 00:00:00,47638,2016-04-02 12:45:44,150000
30,2016-03-14 11:47:31,Peugeot_206_Unfallfahrzeug,80,test,small car,2002,manual,60,2_reihe,6,gas,peugeot,yes,2016-03-14 00:00:00,57076,2016-03-14 11:47:31,150000
31,2016-03-14 16:53:09,Noch_gut_erhaltenen_C_320,2850,test,station wagon,2002,automatic,218,c_klasse,7,gas,mercedes_benz,no,2016-03-14 00:00:00,41065,2016-03-16 07:19:04,150000
32,2016-03-20 05:03:03,Corsa_mit_TÃœV_5.2016,350,control,small car,1999,manual,0,corsa,7,gas,opel,NaN,2016-03-20 00:00:00,27619,2016-04-06 03:15:20,150000
33,2016-03-15 12:25:26,Audi_A3_2.0_TDI_Sportback_DPF_Kupplung_defekt_...,4800,test,station wagon,2006,manual,140,a3,8,diesel,audi,no,2016-03-15 00:00:00,61169,2016-04-07 13:15:31,150000
34,2016-04-05 07:55:07,Bmw_530d__navi_tuv03/18,2600,test,station wagon,2000,automatic,193,5er,6,diesel,bmw,NaN,2016-04-05 00:00:00,95111,2016-04-07 12:15:47,150000
35,2016-03-29 21:52:56,Ford_Mondeo,1200,test,station wagon,1998,manual,0,mondeo,12,gas,ford,no,2016-03-29 00:00:00,52428,2016-04-06 08:45:35,150000
36,2016-03-16 23:46:31,Ford_Mondeo_2.0_Turnier_TDCi_DPF_Titanium,7500,test,station wagon,2007,manual,131,mondeo,11,diesel,ford,no,2016-03-16 00:00:00,34246,2016-04-05 16:21:16,150000
39,2016-03-11 13:58:38,Mercedes_C_180_Kombi__zu_verkaufen,1450,test,station wagon,1999,automatic,122,c_klasse,6,gas,mercedes_benz,no,2016-03-11 00:00:00,12683,2016-04-06 15:17:52,150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49955,2016-03-30 12:50:18,Golf_1.9_TDI_DPF_4mot_GT_Sport,3400,control,sedan,2008,NaN,0,golf,11,diesel,volkswagen,no,2016-03-30 00:00:00,83512,2016-03-30 12:50:18,150000
49957,2016-03-10 10:52:01,Bmw_mit_LPG__super_zustand_2_Jahre_Tuev_klima,2900,test,coupe,2000,manual,150,3er,8,lpg,bmw,NaN,2016-03-10 00:00:00,41239,2016-03-11 10:18:32,150000
49958,2016-03-08 18:58:02,Golf_3_2.8_vr6_highline,2900,test,sedan,1994,manual,174,golf,5,gas,volkswagen,NaN,2016-03-08 00:00:00,24241,2016-04-07 14:57:40,150000
49959,2016-03-28 21:53:21,Mercedes_Benz_C_180_T_Kompressor_Classic,4200,control,station wagon,2003,manual,143,c_klasse,12,gas,mercedes_benz,no,2016-03-28 00:00:00,53844,2016-04-07 05:16:23,150000
49960,2016-03-25 22:51:55,Ford_KA_zu_verschenken_***Reserviert***,0,control,small car,1999,manual,60,ka,6,gas,ford,NaN,2016-03-25 00:00:00,34355,2016-03-25 22:51:55,150000
49961,2016-03-14 19:06:17,Golf_2.0_TDI_Sportline_Sonderproduktion,3200,control,sedan,2007,manual,140,golf,7,diesel,volkswagen,NaN,2016-03-14 00:00:00,65760,2016-03-14 19:06:17,150000
49962,2016-03-14 17:57:15,Mitsubishi_Space_Star_1__3_L__Bj_2004_Standhei...,2200,test,sedan,2004,manual,82,other,4,gas,mitsubishi,yes,2016-03-14 00:00:00,45481,2016-03-15 13:45:08,150000
49964,2016-03-10 16:46:43,Audi_2_7_TDI_AVANT,12700,control,station wagon,2010,automatic,192,a4,5,diesel,audi,NaN,2016-03-10 00:00:00,54441,2016-04-07 01:15:47,150000
49966,2016-04-02 19:49:19,CitroÃ«n_C1_1.0_**Euro4**TÃœV_OKT_2017**Scheiten...,1490,control,small car,2006,manual,68,c1,7,gas,citroen,yes,2016-04-02 00:00:00,26603,2016-04-02 19:49:19,150000
49967,2016-03-12 11:50:17,VW_Passat_2_0_TDI_comfortline,4999,test,station wagon,2006,manual,140,passat,5,diesel,volkswagen,NaN,2016-03-12 00:00:00,70619,2016-03-17 09:45:12,150000
49968,2016-04-01 17:49:15,Mercedes_Benz_190_D_2.5_Automatik,2100,test,sedan,1986,automatic,90,other,9,diesel,mercedes_benz,no,2016-04-01 00:00:00,40227,2016-04-05 13:16:35,150000
49969,2016-03-17 18:49:02,Nissan_X_Trail_2.2_dCi_4x4_Sport_m.AHZ,4500,control,suv,2005,manual,136,x_trail,5,diesel,nissan,no,2016-03-17 00:00:00,17379,2016-03-25 23:18:15,150000
49971,2016-03-29 14:54:12,W.Lupo_1.0,950,test,small car,2001,manual,50,lupo,4,gas,volkswagen,no,2016-03-29 00:00:00,65197,2016-03-29 20:41:51,150000
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,3300,control,bus,2004,automatic,150,vito,10,diesel,mercedes_benz,yes,2016-03-26 00:00:00,65326,2016-03-28 11:28:18,150000
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,6000,control,convertible,2004,manual,163,slk,11,gas,mercedes_benz,no,2016-03-27 00:00:00,53567,2016-03-27 08:25:24,150000
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,0,control,convertible,1983,manual,70,golf,2,gas,volkswagen,no,2016-03-20 00:00:00,8209,2016-03-27 19:48:16,150000
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,5900,test,station wagon,1992,automatic,150,80,12,gas,audi,no,2016-03-19 00:00:00,36100,2016-04-07 06:16:44,150000
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,5500,control,sedan,2003,manual,116,c_klasse,2,diesel,mercedes_benz,no,2016-03-31 00:00:00,33739,2016-04-06 12:16:11,150000
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,900,control,sedan,1996,automatic,136,e_klasse,9,gas,mercedes_benz,yes,2016-04-04 00:00:00,24405,2016-04-06 12:44:20,150000
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,2000,control,station wagon,1998,manual,115,astra,12,gas,opel,no,2016-03-15 00:00:00,86859,2016-04-05 17:21:46,150000
49983,2016-03-06 12:43:04,Ford_focus_99,600,test,small car,1999,manual,101,focus,4,gas,ford,NaN,2016-03-06 00:00:00,52477,2016-03-09 06:16:08,150000
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,0,test,NaN,2000,NaN,0,NaN,0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,12103,2016-04-02 19:44:53,150000
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,1000,control,NaN,1995,automatic,0,NaN,0,gas,volkswagen,NaN,2016-04-02 00:00:00,30900,2016-04-06 15:17:52,150000
49988,2016-03-28 19:49:51,BMW_330_Ci,9550,control,coupe,2001,manual,231,3er,10,gas,bmw,no,2016-03-28 00:00:00,83646,2016-04-07 02:17:40,150000
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,150,test,small car,1997,manual,0,polo,5,gas,volkswagen,yes,2016-03-11 00:00:00,21244,2016-03-12 10:17:55,150000
49991,2016-03-06 15:25:19,Kleinwagen,500,control,NaN,2016,manual,0,twingo,0,gas,renault,NaN,2016-03-06 00:00:00,61350,2016-03-06 18:24:19,150000
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,1650,control,small car,1997,manual,0,NaN,7,gas,audi,NaN,2016-03-15 00:00:00,65203,2016-04-06 19:46:53,150000
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,5000,control,station wagon,2001,automatic,299,a6,1,gas,audi,no,2016-03-22 00:00:00,46537,2016-04-06 08:16:39,150000
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,1980,control,convertible,1996,manual,75,astra,5,gas,opel,no,2016-03-28 00:00:00,44807,2016-04-02 14:18:02,150000
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,1250,control,sedan,1996,manual,101,vectra,1,gas,opel,no,2016-03-13 00:00:00,45897,2016-04-06 21:18:48,150000

In [57]:
print(low_mileage["price"].mean())
print(mid_mileage["price"].mean())
print(hi_mileage["price"].mean())

11940.959967732177
6639.106551577755
3654.103120366192

The cars with the lowest mileage

In [58]:
model_counts = {}
for model in autos["model"]:
    if model not in model_counts:
        model_counts[model] = 0
    model_counts[model]+=1
sorted_model_counts = sorted(model_counts, key=lambda x: model_counts[x], reverse=True)
for k in sorted_model_counts:
    print("{} : {}".format(k, model_counts[k]))

golf : 3815
other : 3457
3er : 2688
nan : 2456
polo : 1677
corsa : 1644
astra : 1388
passat : 1388
a4 : 1265
5er : 1163
c_klasse : 1147
e_klasse : 981
a3 : 838
a6 : 814
focus : 776
fiesta : 739
transporter : 688
twingo : 636
2_reihe : 611
vectra : 558
fortwo : 552
a_klasse : 543
1er : 525
3_reihe : 496
mondeo : 487
clio : 484
touran : 438
punto : 431
zafira : 399
ka : 356
megane : 352
ibiza : 335
lupo : 329
octavia : 305
x_reihe : 296
fabia : 281
cooper : 274
clk : 251
micra : 245
sharan : 225
caddy : 211
80 : 209
leon : 197
omega : 193
scenic : 190
laguna : 186
i_reihe : 176
slk : 172
civic : 171
galaxy : 165
1_reihe : 165
6_reihe : 163
m_klasse : 152
tt : 147
911 : 142
meriva : 139
7er : 131
s_klasse : 129
yaris : 127
a5 : 126
beetle : 124
b_klasse : 122
500 : 122
vito : 121
z_reihe : 119
mx_reihe : 118
tiguan : 118
escort : 113
colt : 113
arosa : 107
transit : 106
kangoo : 104
bora : 104
berlingo : 102
sl : 102
one : 101
v70 : 95
almera : 95
touareg : 95
sprinter : 94
tigra : 93
156 : 92
v40 : 91
grand : 89
corolla : 89
espace : 88
scirocco : 87
insignia : 86
fox : 85
swift : 84
panda : 84
a1 : 82
seicento : 80
147 : 80
primera : 79
c_max : 78
stilo : 76
4_reihe : 75
avensis : 72
a8 : 72
c5 : 72
qashqai : 70
c3 : 70
signum : 68
cuore : 66
eos : 66
q5 : 62
c4 : 62
aygo : 61
carisma : 60
viano : 60
kaefer : 60
ducato : 59
100 : 59
agila : 58
matiz : 57
5_reihe : 57
c1 : 56
mustang : 56
vivaro : 55
601 : 54
combo : 53
sorento : 53
s_max : 52
sportage : 52
cr_reihe : 52
up : 51
c2 : 51
superb : 51
kadett : 51
voyager : 50
getz : 49
xc_reihe : 48
boxster : 48
cayenne : 48
rav : 48
santa : 46
verso : 46
m_reihe : 46
picanto : 45
forfour : 45
cordoba : 44
sandero : 44
a2 : 43
bravo : 43
logan : 43
kuga : 42
alhambra : 42
doblo : 42
rio : 40
toledo : 40
q7 : 40
accord : 40
altea : 40
cl : 39
jetta : 38
ceed : 36
jazz : 36
roomster : 35
x_trail : 34
ptcruiser : 34
159 : 33
fusion : 33
spider : 33
freelander : 33
jimny : 33
phaeton : 32
roadster : 32
legacy : 31
auris : 31
carnival : 31
v50 : 31
6er : 31
modus : 30
glk : 30
850 : 28
pajero : 28
q3 : 28
c_reihe : 28
duster : 27
galant : 26
clubman : 26
lancer : 25
tucson : 25
spark : 25
yeti : 25
captiva : 25
impreza : 25
v_klasse : 24
rx_reihe : 24
wrangler : 24
g_klasse : 24
defender : 23
calibra : 22
x_type : 21
aveo : 21
antara : 21
navara : 21
note : 21
ypsilon : 21
outlander : 20
citigo : 20
cherokee : 20
justy : 19
cc : 18
kalos : 17
s60 : 17
900 : 16
cx_reihe : 15
niva : 15
s_type : 14
discovery : 14
juke : 13
forester : 12
range_rover_sport : 12
300c : 11
sirion : 11
mii : 10
lybra : 10
lanos : 10
terios : 10
r19 : 10
gl : 10
range_rover : 9
move : 9
90 : 9
nubira : 8
crossfire : 6
amarok : 6
exeo : 6
lodgy : 5
9000 : 5
delta : 5
range_rover_evoque : 5
materia : 4
145 : 4
samara : 4
croma : 4
charade : 3
v60 : 3
kappa : 2
b_max : 1
i3 : 1
200 : 1
rangerover : 1

The top 12 most common models in this data set are Deutsche - VW, BMW, Audi, and Mercedes Benz.  This is not including the "other" and "nan" values.  The Ford Focus and Fiesta are the next most common on the list.  The VW Golf, which is the top most common model, has almost half again as many listings as the runner up, which is the BMW 3 series.

In [60]:
no_damage_mean_price = autos[autos["unrepaired_damage"] == 'no']

In [61]:
damaged_mean_price = autos[autos["unrepaired_damage"] == 'yes']

In [62]:
no_damage_mean_price['price'].mean()

7067.212567157207

In [63]:
damaged_mean_price['price'].mean()

2126.840091973244

As one would anticipate, the vehicles listed with no unrepaired damage have a listed price of 3.5x those with unrepaired damage.